<% # 
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<div style="width:900px;">
	<div class="popup">
	<p><span class="emph2">Scholarly projects participating in <%= Setup.site_name() %>/Collex include:</span>
	<table class="small_list">
		<% @sites.each_with_index do |site, index|%>
			<% if index % 3 == 0 %>
				<tr>
			<% end -%>
			<td><a class="nines_link" href="<%= site['site_url']%>" target="_blank"><%= site['name']%></a></td>
			<% if index % 3 == 2 %>
				</tr>
			<% end -%>
		<% end %>
	</table>
	</p>
	</div>
	
	<p align="center"><a class="ext_pic_link" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png"/></a><br/>This work is licensed under a <a class="ext_link" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank">Creative Commons Attribution-Noncommercial-Share Alike 3.0 Unported License</a>.</p>
</div>
