<h1>Listing Discussion Topics</h1>

<table>
  <tr>
    <th>Topic</th>
  </tr>

<% for discussion_topic in @discussion_topics %>
  <tr>
    <td><%=h discussion_topic.topic %></td>
    <td><%= link_to 'Edit', {:action => 'edit', :id => discussion_topic}, {:class => 'modify_link'}  %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => discussion_topic }, :confirm => 'Are you sure?', :method => 'post', :class => 'modify_link' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Discussion Topic', {:action => 'new'}, {:class => 'modify_link'} %>
