body.federation-mesa.pg-community {
.shared_header {
	background: none repeat scroll 0 0 #0D1D4E;
	border-radius: 5px 5px 5px 5px;
	color: #C9AC63;
	font-size: 1.3em;
	padding-bottom: 4px;
	padding-left: 14px;
	padding-top: 7px;
}

.publications_image {
	border: 4px solid gray;
}
}
