/* Overview text / image styles */
body.pg-typewright {
.typewright_welcome {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.typewright_logo {
  margin: 10px 20px 10px 0px;
  vertical-align: middle;
}

.typewright_welcome_txt {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 2.2em;
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
}

.tw_intro {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 5px;
  text-align: left;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1.1em;
}

a.tw_note { 
  color:  #002dFC; 
  font-size: 0.85em;
  font-style: normal;
  text-decoration: none;
  vertical-align: super;
  cursor: pointer;
}

.tw_footnotes {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: 160px;
}

.footnote {
  width: 100%;
  padding: 5px 5px 5px 5px;
  border: 1px dotted #7A7A7A; 
  background: #f0f0f0;
}

.footnote_close {
  display: block;
  text-align: right;
  font-size:0.95em;
}


/* Overview page search styles */
.tw_search_box{
  font-family:Arial, Helvetica, sans-serif;
  font-size:1.1em;
  width: 70%;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  margin-top: 0px;
  margin-bottom: 20px;
  line-height:1.8em;
  border: 1px solid #7A7A7A;
  background: #BCC8E4;
  padding-top: 5px;
  padding-bottom: 5px;
}

.tw_phrase_container {
    width: 75%;
    margin-left: 10px;
    margin-right: auto;
    float: left;
}

#tw_search_phrase{
  width:100%;
  height: 24px;
}

.tw_search_button:hover {
    cursor: pointer;
    background-position: 0 -28px;
}

.tw_search_button {
    background:image-url('type_wright/search_button.png') top left no-repeat;
    float: right;
    text-decoration: none;
    font-size: 0;
    width:90px;
	margin: 0 10px 28px;
	border: 0;
	height: 28px;
}

.tw_advanced_link{
  float: right;
  font-size:0.8em;
  line-height:1.3em;
  margin-top: 5px;
}

/* overview top documents */
.tw_no_features {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size:1.1em;
  text-align: center; 
}

.tw_top_documents {
  margin-top: 10px;
  border-top: 1px solid #ADAFB2;
}

.tw_docs_header {
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
}

.tw_overview_top {
	padding: 24px;
	border-bottom: 1px solid black;
}

.tw_overview_bottom {
	padding: 24px;
	background-color: #E1E6F1;
	border-top: black solid 1px;
}

.tw_editing_title {
	background-color: #909cbc;
	font-size: 34px;
	text-align: center;
	font-family: 'Verdana', sans-serif;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-top:5px;
	margin-bottom: 10px;
}

#tw_img_thumb {
	border: 1px solid black;
	float: left;
	margin-right: 24px;
}

.tw_button4:hover {
	cursor: pointer;
	background-position: 0 -25px;
}

.tw_button4 {
    font-size: 20px;
	line-height: 25px;
}

.tw_start_editing_button {
	background:image-url('type_wright/start_editing_button.png') top left no-repeat;
	padding-left: 44px;
	padding-right: 44px;
	float: right;
	text-decoration: none;
	margin-right: 10px;
}

.tw_no_edit {
   float: right;
   margin-top: 30px;
   margin-right: 30px;
   font-weight: bolder;
   color: #292;
}

/* Progress bar */
.tw_progress_container {
    width: 25%;
    margin-left: auto;
    margin-right: 10px;
    float: right;
}

.tw_progress_title {
    font-size: 0.9em;
}

.tw_progress_background {
    width:75%;
    height:20px;
    background-color: #e4e4e4;
    border: #797979 solid 1px;
    float: left;
    margin-top: 2px;
}

.tw_progress_bar {
    background-color: #00b538;
    height: 100%
}

.tw_progress_number {
    font-size: 1.5em;
    font-weight: bold;
    float: right;
    text-align: right;
}

/* Edit History Summary */
.tw_pager {
  width: 100%;
  text-align: right;
}

.tw_curr_revision_page {
  font-weight: bold;
}

.tw_revison_paging_link {
  text-decoration: none;
  text-align: center;
}

.tw_history_table {
  width: 100%;
  border: none;
}

.tw_history_table th {
  border: none;
  text-align: left;
  font-weight: bold;
}

.tw_source_link {
    color: #AC2E20;
    text-decoration: none;
 }
.tw_source_link:hover {
    cursor: pointer;
    text-decoration: underline;
}
.tw_selected_source {
    font-weight: bolder;
    font-size: 1.2em;
    cursor: default;
}

.tw_edit_icon {
  vertical-align: middle;
  display:block; margin: 0 auto;
}

.odd_row {
  background-color: #FFFFFF;
}
.even_row {
  background-color: #E1E6F1;
}
}