body.federation-sro.pg-community {

  .shared_header {
  	color:white;
  	background: #7d1317;
  }

  .publications_image {
  	border: 1px solid #7d1317;
  	padding: 5px;
  	border-radius: 5px;
  }

}