<%
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
	
<center><form id="add-search-constraint" method="post" action="/collex/add_constraint" onsubmit="return yearValidation(document.forms['add-search-constraint'], 'search_year', 'search_phrase', 'search_type', 'search_submit', event)" >
<% if has_constraints? -%>
<table><tr><td>
<span>Refine Search: </span>
</td>
<td>
<%= text_field_with_suggest :search, :phrase,  {:size=>30}, {:min_chars => 2}-%>&nbsp;
</td><td>
	<select id="search_type" name="search_type" align="top" >
<option value="Keyword" >Keyword</option>
<option value="Title" >Title</option>
<option value="Author" >Author</option>
<option value="Editor" >Editor</option>
<option value="Publisher" >Publisher</option>
<option value="Year" >Year (YYYY)</option>
</select>

<input id="search_submit" type="submit" value="Search" />
</td></tr>
<tr><td></td>
	<td><center>(or&nbsp;<%= link_to "start over", { :action => "new_search"}, { :class => 'nav_link' } %>)</center></td>
</tr>
</table>

<% else -%>
<table>
<tr><td>Keyword:</td><td><%= text_field_with_suggest :search, :keyword,  {:size=>30}, {:min_chars => 2}-%></td></tr>
<tr><td>Title:</td><td><input name="search_title" id="search_title" size="30"/></td></tr>
<tr><td>Author:</td><td><input name="search_author" id="search_author" size="30"/></td></tr>
<tr><td>Editor:</td><td><input name="search_editor" id="search_editor" size="30"/></td></tr>
<tr><td>Publisher:</td><td><input name="search_publisher" id="search_publisher" size="30"/></td></tr>
<tr><td>Year (YYYY):</td><td> <input name="search_year" id="search_year" size="30"/></td></tr>
<tr><td colspan="2" align="right"><input id="search_submit" type="submit" value="Search" /></td></tr>
</table>
<% end -%>
</form></center>

<div id="yearalert" style="float: none; left: 50px; top: 50px; display: none; POSITION: absolute; BACKGROUND-COLOR: #ededed; LAYER-BACKGROUND-COLOR: #fff; width: 200px; border: 1px solid #666; PADDING: 3px; z-index: 10;">
 <span style="clear:both;float:right;"><%= link_to_function 'x', 'Effect.Fade("yearalert", { duration: 0.0 })', :class => 'nav_link' %> &nbsp;</span>
 <span id="year_numeric_error_msg">the year must contain only numerals</span>
 <span id="year_length_error_msg">the year must be 4 digits long</span>
</div>
