<%= error_messages_for 'approval' %>

<!--[form:approval]-->
<p><label for="approval_uri">Uri</label><br/>
<%= text_field 'approval', 'uri'  %></p>

<p><label for="approval_xml">Xml</label><br/>
<%= text_area 'approval', 'xml'  %></p>
<!--[eoform:approval]-->

