<% for column in Approval.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @approval.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @approval %> |
<%= link_to 'Back', :action => 'list' %>
