<html>
<head>
<title>Upload Error</title>
</head>

<body>
<h4>Error Uploading File</h4>
<p>Filename cannot contain spaces.  Please rename the file and <a href="/upload/">submit it again</a>.</p>
</body>
</html>