<%= error_messages_for 'task' %>

<!--[form:task]-->
<p><label for="task_archive_name">Archive name</label><br/>
<%= text_field 'task', 'archive_name'  %></p>

<p><label for="task_file_name">File name</label><br/>
<%= text_field 'task', 'file_name'  %></p>
<!--[eoform:task]-->

