Your Collex password has been reset.  To log in, visit this link:

To log in, visit this link:

      <%= url_for :controller => 'search', :action => 'index', :only_path => false %>

Click "log in" at the top of the sidebar and enter your username and new password.

Your password is:

	<%=@user[:new_password]%>
	
After logging in, we strongly recommend you change this generated password.