Your Collex password has been reset.  To log in, visit this link:

   <%= url_for :controller => 'login', :action => 'login', :only_path => false%>

Your password is:

	<%=@user[:new_password]%>
	
After logging in, we strongly recommend you change this generated password.