body
{
	background: url(images/bodybg2.jpg) repeat-x;
	background-color: #333;
	color: #000000; 	
}
a {
	color: #A60000;
	text-decoration:none;
}
a:link {
	text-decoration: none;
	color: #A60000;
}
a:visited {
	color: #A60000;
	text-decoration:none;
}
a:hover {
	text-decoration: underline;
	color: #A60000;
}

#pageFrame
{	
	background-color: #fff;	/* major background color */
}
#pageFrame
{
	/* image can be used as background color for left column  */
	background-color: #fff;
}
#masthead, #footer
{
	background-color: #730000;
	color: #fff;
}
#masthead a
{
	color: #fff;
	text-decoration: none;
}
#masthead a:hover
{
	color: #fff;
	text-decoration: underline;
}
#footer
{
	background: url(images/bodybg2.jpg) repeat-x;
	/* border-bottom: solid 1px #000000; /* IE 6 has the footer flow over the pageFrame's 
									  bottom border. if this border is added, IE draws
									  the pageFrame border as exptected */
}
#hnav, #hnav ul li a
{
	background-color: #999;
	color: #000;
}
#hnav ul li a.on
{
	background-color: #730000;
	color: #fff;
}
#hnav ul li a:hover /* remove single space before slash star in this line to hide from IE 5.0 */
{
	background-color: #A60000;
	color: #fff;
}
#vnav ul li a
{
	color: #000;
	background-color: #999;
}
#vnav ul li a.on
{
	background-color: #730000;
	color: #fff;
}
#vnav ul li a:hover
{
	background-color: #A60000;
	color: #fff;
}
.flashy {
	margin: 2em;
	margin-top: 1em;
	padding: .4em;
	border: 2px #A60000 solid;
	color: #fff;
	background-color: #999;
	font-size: .85em;
	text-decoration: none;
}
.flashy:hover
{
	background-color: #A60000;
	border: 2px #000 solid;
}
a.noline:hover {
		text-decoration: none;
}

