div#oldbrowser
{
	display: none;
}

a img
{
	border-width: 0;
}
#innerLeftColumn img
{
	display: block;
	margin: 0 auto;
	text-align: center;	/* IE 5 centering hack */
}
#innerLeftColumn
{
	overflow: visible;	/* fix the Win32 IE italics bug */
	height: 100%;		/* ditto */
}