/*** Complex Horizontal Navigation ***/
#hnav ul li
{
	margin: -3px 0 -4px 0;
}
#hnav ul li a
{
	text-decoration: none;
	color: #000;
	background-color: #eee;
	margin: 0 -1px 0 0;
	padding: 3px 10px 4px 10px;
}
#hnav ul li a.on
{
	background-color: #990000;
	color: #fff;
}
#hnav ul li a/* Hide this from IE 5.0 */
{
	border-left: solid 1px #000;
	border-right: solid 1px #000;
}
#hnav ul li a:hover
{
	text-decoration: underline;
}
#hnav ul li a:hover/* Hide this from IE 5.0 */
{
	text-decoration: none;
}
#hnav ul li span/* Hide this from IE 5.0 */
{
	display: none;
}
