<div id='text_<%= element.id %>'>
	<%= render :partial => 'exhibits/exhibit_text', :locals => { :text => element.element_text, :is_first => is_first } %>
</div>
<script language="JavaScript">
	if(window.initializeInplaceRichEditor)
		initializeInplaceRichEditor(<%= "'text_#{element.id},full_window'"%>, "/my9s/edit_text,/my9s/refresh_outline");
</script>