<%
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
	
<div id='text_<%= element.id %>'>
	<%= render :partial => 'exhibits/exhibit_text', :locals => { :text => element.element_text, :is_first => is_first } %>
</div>
<script language="JavaScript">
	if(window.initializeInplaceRichEditor)
		initializeInplaceRichEditor(<%= "'text_#{element.id},full-window-content'"%>, "/my9s/edit_text,/my9s/refresh_outline");
</script>