<div class="exhibit_delta_link">
	<%= link_to_function change_char(), "change_header(#{exhibit.id}, #{page}, #{element.id}, 'header_#{element.id}' );", :title => 'Edit header' %>
</div>
<div id='header_<%= element.id %>'>
	<h3 class="exhibit_header">&nbsp;&nbsp;<%= element.element_text %></h3>
</div>
