<% form_tag :action => "edit_exhibit_globals", :id => exhibit.id do %> 
  <table class="edit_exhibit_form"> 
  <tr> 
    <td>Exhibit title:</td> 
    <td><%= text_field_tag("title", exhibit.title, :size => 50) %></td> 
  </tr> 
  <tr> 
    <td>Visible URL:</td> 
    <td>http://nines.org/exhibits/<%= text_field_tag("visible_url", exhibit.visible_url, :size => 21)%></td> 
  </tr> 
  <tr> 
    <td>Thumbnail:</td> 
    <td><%= text_field_tag("thumbnail", exhibit.thumbnail, :size => 50) %></td> 
  </tr> 
  <tr> 
    <td>Sharing:</td> 
    <td><%= select_tag("is_published", options_for_select([ "Visible to Everyone", "Visible to Just Me" ], exhibit.is_published == 1 ? "Visible to Everyone" : "Visible to Just Me" )) %></td> 
  </tr> 
  <tr> 
    <td>&nbsp;</td> 
    <td><input type="submit" value=" UPDATE " /></td> 
  </tr> 
</table> 
<% end %>
