<%
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
	
  <table class="edit_exhibit_form"> 
  <tr> 
    <td>Visible URL:</td> 
    <td>http://nines.org/exhibits/<span id="overview_visible_url" class="overview_field"><%= exhibit.visible_url %></span></td> 
  </tr> 
  <tr> 
    <td>Thumbnail:</td> 
    <td><span id="overview_thumbnail" class="overview_field"><%= exhibit.thumbnail %></span></td> 
  </tr> 
  <tr> 
    <td>Sharing:</td> 
    <td><span id="overview_published" class="overview_field"><%= exhibit.is_published == 1 ? "Visible to Everyone" : "Visible to Just Me" %></span></td> 
  </tr> 
  <tr>
  	<td></td>
	<td><%= link_to_function("[Edit Overview Data]", "editGlobalExhibitItems('overview_data', #{exhibit.id}, 'overview_field'); return false;", { :class => 'modify_link' }) %></td>
  </tr>
</table> 
