<%
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<% # recently_collected_items params: int user_id, array hits, bool has_more -%>
<div class="page_header">Recently Collected Items</div>
<% if hits.length == 0 -%>
	<div class="empty_list_text">You have not collected any items (yet)! Collect items directly from your search results to save and tag them.</div>
<% else -%>
	<%= render( :partial => 'results/results', :locals => { :user_id => user_id, :hits => hits } ) %>
<% end -%>
<div class="clear_both bottom_nav"> 
</div>
<% if has_more == true -%>
	<div class="subpage_nav"> 
		<%= link_to "See more collected objects", { :action => 'results', :view => 'all_collected' }, :class => 'nav_link' %>
	</div>
<% end -%>
