<p>
  <b>Uri:</b>
  <%=h @exhibit_object.uri %>
</p>

<p>
  <b>Exhibit:</b>
  <%=h @exhibit_object.exhibit_id %>
</p>


<%= link_to 'Edit', edit_exhibit_object_path(@exhibit_object) %> |
<%= link_to 'Back', exhibit_objects_path %>
