<html><head><title>All Recipes</title></head><body><h1>Online Cookbook - All Recipes</h1><table border="1"> <tr>  <td width="40%"><p align="center"><i><b>Title</b></i></td>  <td width="20%"><p align="center"><i><b>Task</b></i></td>  <td width="20%"><p align="center"><i><b>Date/Time</b></i></td> </tr> <% @titles.each do |title| %>  <tr>   <td><%= link_to title.title, :action => "show", :id => title.id %></td>   <td><%= title.task.archive_name %></td>   <td><%= title.date_time %></td>  </tr> <% end %></table><p><%= link_to "Create new recipe", :action => "new" %></p></body></html>