<% #
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0

    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<%# render :partial => 'replies', :locals => { :total => @total, :page => @page, :replies => @replies, :num_pages => @num_pages, :thread => @thread } -%>
<div class="FP_reply_number">Replies to this topic (<%= total %>)</div>
<div class="clear_both"></div>

<% if replies.length > 0 -%>
	<div class="FP_reply_header">
		<div class="FP_replies_per_page"></div>
		<div class="FP_reply_pages">
		</div>
		<div class="clear_both"></div>
	</div>
<% end -%>

<% user_id = user_signed_in? ? get_curr_user_id : nil %>
<% replies.each {|reply| -%>
    <div id="<%= "comment_id_#{reply.id}" %>" class="FP_reply_container">
		<%= render :partial => 'comment', :locals => { :comment=> reply, :can_delete => user_signed_in? && (is_admin? || (reply.user_id == user_id)), :can_edit => (reply.user_id == user_id), :is_main => false  } %>
	</div>
<% } -%>

<% if replies.length > 0 -%>
	<div class="FP_reply_footer">
		<div class="FP_replies_per_page"></div>
		<div class="FP_reply_pages">
		</div>
		<div class="clear_both"></div>
	</div>
<% end -%>
