<div id="permalink">
  <span class="listtype"><%= link_to image_tag('/images/permalink.png', :class => 'permalink', :title => "header=[permalink] body=[open in another window to see a direct URL you can share] cssheader=[boxheader2] cssbody=[boxbody] fade=[on]"), permalink, {:target => "_blank"} %></span>
</div>