
/* Use this CSS file for styles that are specfic to "About" section */

#aboutContent {
	background-image:url('/images/aboutContent.jpg');
	background-repeat:no-repeat;
	width: 800px;
	height: 390px;
}

#aboutContent p {
	font-size:9pt;
	padding-left: 3px;
	text-align:left;
}

#aboutContent h2 {
	text-align:center;
	font-size:1.5em;
}

#aboutContent span {
	font-size: 1.3em;
	color:maroon;
}

.about-banner-column {
	margin-top:80px;
	margin-left:45px;
	padding-left: 3px;
	width: 200px;
	float:left;	
}

#innerContent {
	background-color:white;
	margin-top: 25px;
}

