
/* Use this CSS file for styles that are specfic to "About" section */

.tag_minor_nav a.here {
color:black;
font-size: 14pt;
background-color:white;
padding:2px;
}

/*#iconNav {
text-align:center;
margin-top:30px;
margin-bottom:30px;
padding:2px;
}*/

#about-main {

margin: 0px 20px 0px 20px;
}

#aboutContent {
	background-image:url('/images/aboutContent.jpg');
	background-repeat:no-repeat;
	margin-top:10px;
	width: 800px;
	height: 360px;
}

#aboutContent p {
	font-size:9pt;
	padding-left: 3px;
	text-align:center;
}

#aboutContent a {
 border:none;
}

#aboutContent a:hover {
border:maroon;
background-color:white;
}

#aboutContent a span {
border:none;
}

#aboutContent h2 {
	text-align:center;
	font-size:1.5em;
}

#aboutContent span {
	font-size: 1.3em;
	color:maroon;
}

#about-tools-banner {
margin: 10px 25px 10px 25px;
background-color:#E0E0E0;
}

#leftContentColumn {
background-color:#E0E0E0;
margin: 50px 15px 10px 0px;
width: 200px;
}

#leftContentColumn .header{
background-color:#E0E0E0;
}


#vnav {
background-color:white;
margin-top:20px;
margin-bottom:40px;
width: 180px;
padding:10px;
border-left:black dotted 1px;
border-top:black dotted 1px;
border-bottom:black dotted 1px;
border-right:black dotted 1px;
}

.vnavItem {
margin-top:10px;
margin-bottom:10px;
border-bottom:gray dotted 1px;
}

.vnavHotItem {
background-color:#E0E0E0;
color:black;
text-transform:uppercase;
margin-top:10px;
margin-bottom:10px;
/*border-top:black solid 1px;
border-bottom:black solid 1px;*/
}

.vnavItem a:hover{
background-color:#E0E0E0;
}

#vnav a {
color:black;
}

#vnav a.here{
background-color:#E0E0E0;
}

.columnEntry{
background-color:white;
border:gray dotted 2px;
width:150px;
text-align:center;
margin-top:0px;
margin-left:22px;
font-size:10pt;
}

.columnEntry p{
margin-left:5px;
margin-right:5px;
}

a .noBorder{
border:none;
background-color:white;
}

.about-banner-column {
	margin-top:77px;
	margin-left:48px;
	padding-left: 2px;
	width: 200px;
	float:left;	
}


.about-banner-column img {
 margin-left: 15px;
 margin-bottom:-3px;
 border:none;
}

.about-banner-column img:hover {
border:maroon solid 1px;
}

.about-tools-banner-column {
	margin-top:30px;
	margin-left:50px;
	margin-bottom:30px;
	padding-left: 1px;
	width: 250px;
	height: 300px;
	float:left;	
	text-align:center;
}

.about-tools-banner-column img{
border:#E0E0E0 solid 5px;

}

.about-tools-banner-column img:hover{
border:gray solid 5px;

}

.about-tools-banner-column a {
background-color:white;
}

.about-tools-banner-column a:hover {
color:maroon;
}

#columnWrapper {
/*background-color: #B38481;*/
background-color:#E0E0E0;
height:290px;
width:900px;
margin-left:25px;
margin-right:70px;
}

.about-community-banner-column {
   /* background-color: #E0E0E0;*/
   background-color:white;
	margin-top:30px;
	margin-left:55px;
	margin-bottom:30px;
	padding-left: 1px;
	width: 150px;
	height: 260px;
	float:left;	
	text-align:center;

}

.about-community-banner-column p {
padding: 1px;
}

.about-community-banner-column img{
/*border:dotted maroon 1px;*/
}

.leftColumn{
height:200px;
}

#innerContent {
	background-color:white;
	margin-top: 0px;
	margin-left:25px;
	margin-right:20px;
	width:765px;
}

#contentColumn{
margin-top:-810px;
margin-left:75px;
padding:4px;
}


#innerContentColumn{
margin-left:200px;
margin-right:50px;
font-size:12pt;

}

#innerContentColumn img{
margin:20px 160px 30px 160px;
border:#E0E0E0 8px solid;
}


#toolsHeader {
margin:30px 100px 10px 30px;
width:875px;
}

#toolsContent {
margin-top: 450px;
margin-left:50px;
margin-right:50px;
}

#communityContent {
margin-top: 0px;
margin-left:170px;
margin-right:50px;
}

#innerFooter {
text-align:center;
}


.grayBox {
margin-top:30px;
background-color:#E0E0E0;
font-size:11pt;
padding:.9em;
/*width:875px;*/
}

#innerContentColumn img .noBorder{
border:none;
background-color:white;
margin-left: 5px;
}

p.header {
margin-top:30px;
border-bottom:gray 1px solid;
}

