@charset "UTF-8";
/* CSS Document */

.admin_active {
	font-weight: bold;
	color: black;
}

#admin_menu {
	padding-top: 1px;
	margin: 10px;
	background-color: gray;
}

#admin_menu li {
	list-style: none;
	margin: 0;
	display: inline;
	padding-right: 2px;
}

#admin_menu li a {
	border-left: .8em solid gray;
	text-decoration: none;
}
#admin_menu li a.active {
	border-left: .8em solid #730000;
	background: #A60000;
	color: #fff;
	text-decoration: none;
}
#admin_menu li a:link { color: #fff; }
#admin_menu li a:visited { color: #fff; }

#admin_menu li a.active:link { color: #fff; }
#admin_menu li a.active:visited { color: #fff; }


#admin_menu li a:hover {
	color: #fff;
	text-decoration:underline;
}

.admin_menu_current {
	background-color: white;
	color: black !important;
	padding-left: 5px;
	padding-right: 5px;
}

.site_list {
	width:700px;
	background:#F7F4EA;
	padding:0px 0px 10px 0px;
}

.user_roles {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
}

.user_roles th {
	border: none;
}

.user_roles td {
	text-align: left;
}

.pagination a:link, .pagination a:visited {
	color:#AC2E20;
	text-decoration:none;
}

.pagination a:hover {
	text-decoration:underline;
}

