
/* core.css  - This file contains style that should apply across the entire site */

/* For debugging 
td {
	border: 1px dotted red;
}*/

/* Styles that create the tabs */
.tabs {
	font-size: 15px;
	border-color: black;
}
.link_tab {
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	margin: 0px;
	padding:8px 35px 8px 35px;
	background-image:url('/images/tab.png');
	background-repeat:no-repeat;
	background-color: #e0e0e0;
}

.disabled_tab {
	border-width: 0px 0px 1px 0px; 
	border-style: solid;
	margin: 0px;
	padding:5px 35px 5px 35px;
	font-style: italic;
	color: gray;
	background-image:url('/images/tab.png');
	background-repeat:no-repeat;
	background-color: #e0e0e0;
}
.curr_tab {
	/*border-width: 2px 0px 0px 2px;
	border-style: solid;*/
	margin: 0px;
	font-weight: bold;
	background: #fff;
	background-image:url('/images/curr_tab.png');
	background-repeat:no-repeat;
	padding:5px 35px 5px 35px;
}
.tab-spacer-left {
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	width: 15px;
	background-color: #670001;
}
.tab-spacer-right {
	border-width: 0px 0px 1px 1px;
	border-style: solid;
	width: 100%;
	background-color: #670001;
}
.tab-content-outline {
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	background: #fff;
}

.tab-content-outline2 {
	border-width: 3px 3px 3px 3px;
	border-style: solid;
	border-color: #ffffff;
}

.tab-content {
	margin-top: 20px;
	background: #fff;
}

/* styles for the header */
#header-left { position: absolute; left: 10px; width: 100px; }
#header-center { margin-left: 100px; margin-top: 22px; margin-right: 480px; color:white;}
#header-right { position: absolute; right: 30px; width: 470px; margin-top: -40px; text-align:right; /*font-size: 1.3em;*/ color:#C0C0C0;}
#header-right a {
color: #fff;
}

#header-right a:hover {
background-color: #C0C0C0;
color:black;
}

#header-left a{
background-color:transparent;

}

#header-left a:hover {
background-color:transparent;
border:none;
}

#header-left a:visited {
background-color:transparent;
color:inherit;
}

#header-center a:hover{
background-color:transparent;
}

#header-center a:visited {
border:none;
color:inherit;
}



/* styles for the standard boxes */

.standard_box {
	border: 1px solid gray;
	margin-bottom: 1em;
}

/*.standard_box h1 {
	background: #E0E0E0;
	font-size: 1.4em;
	margin-top: 0px;
	padding: 5px;
}*/

.inside_standard_box {
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
}

.rounded_left {
	background: url(/images/rounded_header_left.jpg) 0 0 no-repeat;
	padding-left: 15px;
}

.rounded_middle {
	background: url(/images/rounded_header_middle.jpg) 0 0 repeat-x;
}

.rounded_right {
	background: url(/images/rounded_header_right.jpg) 100% 0 no-repeat;
}

.rounded_h1 {
	/*background: none !important;*/
	font-size:12pt;
	margin-top: 0px;
	margin-bottom:0;
	padding-top:8px;
	padding-bottom:2px;
}

.rounded_button_container {
    float:right;
    display:inline; /*required by IE6*/
	cursor: pointer;
}

.red_rounded_button_left {
	background: url(/images/red_button_left.png) 0 0 no-repeat;
	padding-left: 8px;
/*	margin-right: 4px;*/
	text-align: center;
	height: 28px;
    margin:0 3px 0 6px;
}

.red_rounded_button_middle {
	background: url(/images/red_button_middle.png) 0 0 repeat-x;
	height: 28px;
	margin-right:6px;
}

.red_rounded_button_right {
	background: url(/images/red_button_right.png) 100% 0 no-repeat;
	height: 28px;
	display:inline;
	float:right;
	margin-top:-28px;
	width:9px;
}

/*.red_rounded_button_left:hover {
	background: url(/images/red_button_left_hover.png) 0 0 no-repeat;
}*/

.red_rounded_button_middle:hover {
	background: url(/images/red_button_middle_hover.png) 0 0 repeat-x;
}

/*.red_rounded_button_right:hover {
	background: url(/images/red_button_right_hover.png) 100% 0 no-repeat;
}*/

.gray_rounded_button_left {
	background: url(/images/gray_button_left.jpg) 0 0 no-repeat;
	padding-left: 8px;
/*	margin-right: 4px;*/
	text-align: center;
	height: 28px;
    margin:0 3px 0 6px;
}

.gray_rounded_button_middle {
	background: url(/images/gray_button_middle.jpg) 0 0 repeat-x;
	height: 28px;
	margin-right:6px;
}

.gray_rounded_button_right {
	background: url(/images/gray_button_right.jpg) 100% 0 no-repeat;
	height: 28px;
	float:right;
	margin-top:-28px;
	width:9px;
}

/*.gray_rounded_button_left:hover {
	background: url(/images/gray_button_left_hover.jpg) 0 0 no-repeat;
}*/

.gray_rounded_button_middle:hover {
	background: url(/images/gray_button_middle_hover.jpg) 0 0 repeat-x;
}

/*.gray_rounded_button_right:hover {
	background: url(/images/gray_button_right_hover.jpg) 100% 0 no-repeat;
}*/

.rounded_button_top_spacing {
	height: 5px;
}

.rounded_button_link {
	/*background: none !important;*/
	margin-top: 0px;
	margin-bottom:0;
	padding-top:8px;
	padding-bottom:8px;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	margin-right: 8px;
	font-size:10pt;
	font-weight:normal;
	padding-left:7px;
}

/* rest of the styles */		

.tag_minor_nav {
	font-size: 1.2em;
	line-height: 2em;
	text-align:center;
	
}

.result-count-form {
	float: right;
	padding-right: 10px;
}

.no-constraints-header {
	color: gray;
	font-weight: bold;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
}

.no-constraints-body {
	color: gray;
	font-style: italic;
}

.no-results {

}

#container {
	line-height: 1.3;
	border: 1px solid #333;
	border-top: 0;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	padding: 2px;
	padding-left: 8px;
	padding-top: 2px;
	/*width: 850px;*/
	min-width: 850px;
	background-image:url('/images/banner.study.gif');
	background-repeat: no-repeat;
	background-color: #670001;
}

a.bannerImage {
background-color:transparent;
border:none;
}

#banner {
	padding: 5px;
	margin-bottom: 5px;
	background-color: #670001;
}

#content {
	padding: 3px;
	background: #670001;
	margin-top: 40px;
}

#footer {
	clear: both;
	padding: 5px 15px 5px 15px;
	/*margin: 0 -5px -5px -11px;*/
	margin-top: 15px;
	background-color: #d3d3d3;
	line-height: 1.5;
}
#navcontainer {
	margin: 4px 0 5px 0;	
	float: right;
}
#navlist {
	padding-left: 1px;
	margin: 0;
	font: 10px  trebuchet ms, verdana, sans-serif;
}

#navlist li {
	list-style: none;
	margin: 0;
	display: inline;
	padding-right: 2px;
}

#navlist li a {
	padding: 0.25em 0.5em 0.25em 0.75em;
	border-left: .8em solid gray;
	background: #d3d3d3;
	text-decoration: none;
}
#navlist li a.active {
	padding: 0.25em 0.5em 0.25em 0.75em;
	border-left: .8em solid #730000;
	background: #A60000;
	color: #fff;
	text-decoration: none;
}
#navlist li a:link { color: #333; }
#navlist li a:visited { color: #999; }

#navlist li a.active:link { color: #fff; }
#navlist li a.active:visited { color: #fff; }


#navlist li a:hover {
	border-color: #730000;
	color: #fff;
	background: #A60000;
}
#navcontainer2 {
	padding: 4px 0 5px 0;
	float: right;
}
#navlist2 {
	padding-left: 1px;
	margin: 0;
	font: 10px  trebuchet ms, verdana, sans-serif;
}

#navlist2 li {
	list-style: none;
	margin: 0;
	display: inline;
	padding-right: 2px;
}
#navlist2 li a {
	padding: 0.25em 0.5em 0.25em 0.75em;
	border-left: .8em solid gray;
	background: #fff;
	text-decoration: none;
	/*font-size: 11px;*/
}
#navlist2 li a.active {
	padding: 0.25em 0.5em 0.25em 0.75em;
	border-left: .8em solid #730000;
	background: #A60000;
	color: #fff;
	text-decoration: none;
}
#navlist2 li a.active:link { color: #fff; }
#navlist2 li a.active:visited { color: #fff; }


#navlist2 li a:link { color: #333; }
#navlist2 li a:visited { color: #999; }

#navlist2 li a:hover {
	border-color: #730000;
	color: #fff;
	background: #A60000;
}
#navlist2 li a:hover {
	border-color: gray;
	color: #fff;
	background: #A1A1A1;
}
#navlist2 li a.active:hover {
	border-color: #730000;
	color: #fff;
	background: #A60000;		
}
.emph1 {
	font: 2.5em  trebuchet ms, verdana, sans-serif;
	color: #A60000;
}
.emph2 {
	font: 1.4em  trebuchet ms, verdana, sans-serif;
	color: #A60000;
	line-height: 1.4em;
}
.emph3 {
	font: 1.2em  trebuchet ms, verdana, sans-serif;
	color: #A60000;
}
.emph4 {
	font: 1.3em  trebuchet ms, verdana, sans-serif;
	color: #666;
}
.features {
	width: 66%;
	/*min-width: 580px;*/
	margin-left: auto;
	margin-right: auto;
}
.thumbnail {
	float: left;
	border: 1px solid #A60000;
	border-bottom: 3px solid #d3d3d3;
	margin: 0 20px 10px 0;
	padding: 1px;
	background: #d3d3d3;
	text-align: center;
	font: 10px trebuchet ms, verdana, sans-serif;
	line-height: 1.2;		
}
.thumbnail img {
	width: 80px;
	height: 80px;
	}
.thumbnail:hover {
	border: 2px solid #730000;
	border-bottom: 3px solid #A60000;
	padding: 0px;
	padding-bottom: 1px;
	background: #A60000;
	color: #fff;
}
.thumbnail .text {
	color: #A60000;
	font-weight: bold;
}
.thumbnail:hover .text {
	color: #fff;
}
.thumbnailesque {
	float: left;
	border: 1px solid #A60000;
	border-bottom: 1px solid #A60000;
	margin: 0 20px 10px 0;
	padding: 1px;
	background: #d3d3d3;
	text-align: center;
	/*font-size: 11px;*/
	font-family: "trebuchet ms", verdana, sans-serif;
	line-height: 1.3em;	
	width:120px;
}
.thumbnailesque .text {
	color: #A60000;
	font-weight: bold;
}
.clearboth { clear: both; }
.button {
	vertical-align: middle;
	border: 1px solid #A60000;
	background-color: #fff;
}
.button a {
	padding:.2em .2em 0em .2em;
}
.searchbutton {
	vertical-align: top;
	margin-top: .4em;
}
.pagination {
/*	background-color:#d3d3d3;*/
	padding:.2em;
	/*margin-left: -11px;
	margin-right: -5px;*/
	margin-bottom: 1em;
	text-align: center;
}
.pagination .emph2 {
	color: #000;
	}
.noshow { display: none; }


.logofade {
	text-align: center;
}
.matchpoint {
	text-align: center;
}
.grey {
	font-weight: normal;
	color: #666;	
}

#dateslider:hover {
	background-color: #fff;
}
#leftPanel ul{
margin-left:0px;
}
#leftPanel div{
padding:0px;
}
#mainContent{
/*width:850px;*/
	background-color: #999;
	background-image: url('/images/bodybg2.jpg');
	background-repeat: repeat;
position: relative;
/*left:230px;*/
top:0px;
}

#leftPanel{	
background-color: #999;	
background-image: url('/images/bodybg2.jpg');
background-repeat: repeat;	
height:100%;
width: 230px;		
left:0px;
top:0px;
position:absolute;
}

#leftPanel #leftPanelContent{
padding:0px;
}
.help:hover {
cursor: default;
}
div.auto_complete {
    width: 300px !important;
    font-size:.9em;
 /*line-height: 20px;*/
  }
  div.auto_complete ul li {
 /*display:table-row;*/
clear:both;
  }
div.auto_complete ul li.selected { 
    background-color: #dcdcdc !important; 
  }
  div.auto_complete ul li img {
 clear:none;
    padding:0;
 margin:0;
 float:right;
 vertical-align: top;
  }
  div.auto_complete ul li .frequency {
color: #858585;
clear:none;
}
.boxheader {
vertical-align:middle;  	
font-weight:bold;
width:150px;
letter-spacing: .1em;
font-family:"Trebuchet MS", "Lucida Grande", arial;
border:1px solid #000;
border-bottom: 0px;
padding:1px;
/*font-size:11px;*/
color:#fff;
background:#A60000;
filter:alpha(opacity=8);
opacity:0.8;
}
.boxbody {
width:150px;
font-family:"Lucida Grande", arial;
border:1px solid #000;
border-top: 0px;
padding:1px;
/*font-size:10px;*/
color:#000;
background:#fff;
filter:alpha(opacity=85);
opacity:0.85;
}
.snippet {
font-style: italic;
margin: 0 2em 0 2em;
}
.snippet em {
font-style: normal;
font-weight: bold;
background: #dcdcdc;
}
.top {
float:right;
padding: .8em 2em 0 0;
}

.collectwarn {
color: #666;
font-style: italic;
line-height: 2em;
padding-left: .4em;
}
.pagearrow {
/*font-size: 16px;*/
vertical-align: bottom;
}

.flash_notice {
color: green;
font-weight: bold;
}
.flash_warning, .flash_error {
color: red;
font-weight: bold;
border: 1px solid red;
}

.draggable {
cursor: move;
}

.modal_dialog_form {
	padding: 1em;
}

.annotation {
	background-color: #FFFF99;
}

.no_bullets {
	margin-left: 0px;
	padding-left: 0px;
}

.no_bullets li {
	list-style: none;
}
