.discussion_thread_list_item {
	margin-left: 25px;
}

.discussion_thread_list {
	border: 1px solid gray;
	width: 100%;
}

.reported_comment {
	border: 2px double red;
	color: red;
	font-size: 1.3em;
}
