.discussion_thread_list_item {
	margin-left: 25px;
}

.discussion_thread_list {
	/*border: 1px solid gray;*/
	background-image:url(/images/row_seperator.jpg);
	background-position:right bottom;
	background-repeat:no-repeat;
	border-right:4px solid #822210;
	/*width: 100%;*/
	margin-right:10px;
	margin-bottom:5px;
}

.discussion_summary {
	clear: both;
	margin-left: 3em;
}

.discussion_topic_title {
	clear: both;
	margin-left: 3em;
	padding-bottom: 2em;
}

.discussion_topic_title h2 {
	margin-bottom: 2px;
}

.discussion_topic_new {
	padding-left: 2em;
}

.discussion_thread_margin {
	margin-left: 80px;
}

.discussion_thread_footer {
	clear:both;
	margin-top:10px;
}

.discussion_summary img {
	float: left;
	padding-right: 15px;
	padding-bottom: 5px;
	width: 50px;
}

.discussion_summary_title {
	font-size: 1.2em;
}

.discussion_comment2 {
	padding-right: 15px;
}

.discussion_title {
	font-size: 2em;
	font-weight: bold;
	margin-left: 10px;
}

.discussion_comment_title {
	font-size: 1.5em;
	font-weight: bold;
}

.reported_comment {
	border: 2px double red;
	color: red;
	font-size: 1.3em;
}

.new_discussion {
	background-color: #e1cecc;
	border-bottom: 6px solid #e2e2e2;
	padding-top:8px;
}

.discussion_user_picture_new {
	padding-top: 27px;
	padding-bottom: 27px;
}

.discussion_user_picture {
	padding-left: 12px;
	padding-right: 12px;
	float: left;
}

.discussion_user_picture img {
	width: 50px;
	border: 3px solid #aaaaaa;
}

.new_discussion .comment_form {
	padding-top: 10px;
	padding-left: 130px;
	padding-right: 30px;
}

.new_discussion .comment_form2 {
	width: 100%;
	overflow: hidden;
	padding-top:17px;
}

.new_discussion .comment_form input {
	width: 100%;
	font-size: 1.3em;
	margin-bottom: .5em;
}
	
.new_discussion .comment_form textarea {
	width: 100%;
	height: 200px;
	margin-bottom: .5em;
	font-size: 1.3em;
}
	
.new_discussion .comment_form .buttons {
	margin-top: .5em;
	padding-bottom: 2.5em;
}

.discussion_action_row {
	clear: both;
	background-image:url(../images/action_row_gradient.jpg);
	background-position: left;
	background-repeat:repeat-y;
	font-size:13pt;
	font-weight:bold;
	padding-bottom:10px;
	padding-left:10px;
	padding-top:10px;
}

.discussion_added_row {
	clear: both;
	background-image:url(../images/action_row_gradient.jpg);
	background-position: left;
	background-repeat:repeat-y;
	font-size:11pt;
	font-weight:bold;
	padding-bottom:6px;
	padding-left:10px;
	padding-top:6px;
	margin-left:10px;
	margin-bottom:6px;
}

.discuss_following {
	background-color: #721909;
	color: white;
	padding: 6px;
	font-size: 1.4em;
	font-weight: bold;
}

.discussion_explanation {
	background-color:#DDDDDD;
	font-size:13px;
	margin-left:3em;
	margin-right:100px;
	margin-top:1em;
	max-width:800px;
	min-width:325px;
	padding:5px;
}

.discussion_explanation span {
	font-size:14px;
	font-weight:bold;
	padding:2px;
}

.discussion_topic_sort_by {
	font-size:14px;
	color: gray;
}

.discussion_topic_index_header {
	border-bottom: 1px solid black;
	margin-left: 3em;
}

.discussion_topic_count {
	color: #4e4e4e;
	font-size: .7em;
}

.discussion_topic_recent_update {
	background-color: #e8e08f;
}
