h2 {
	color:#666666;
	font-family:"Trebuchet MS","Bell MT","Old English",Georgia,Times,serif;
}

h3 {
	color:#999999;
	font-family:"Trebuchet MS","Bell MT","Old English",Georgia,Times,serif;
}

#exhibit_page {
	background-color: #ffffff;
	padding: 0em 1em 1em 1em;
}

#exhibit_page table {
	clear:both;
	margin-bottom:1em;
	margin-top:1em;
	padding-bottom:1em;
}

.exhibit_section_with_border {
	border: 1px solid #DCDCDC;
	clear:both;
}

.exhibit_text {
	padding:1em;
	border: 1px solid white;

}

.illustration_inner {
	border: 1px solid white;
}

.element_block {
	border: 4px solid white;
	padding-top: 27px;
}

.element_block_hover {
	border: 4px solid #aaaaaa;
}

.header_outer {
	border: 1px solid white;
}

.drop_cap:first-letter {
	color:#999999;
	float:left;
	font-family:"Bell MT","Old English",Georgia,Times,serif;
	font-size:420%;
	line-height:0.85em;
	margin-bottom:-0.13em;
	margin-right:0.08em;
	padding: 2px;
}

.drop_cap p:first-letter {
	color:#999999;
	float:left;
	font-family:"Bell MT","Old English",Georgia,Times,serif;
	font-size:420%;
	line-height:0.85em;
	margin-bottom:-0.15em;
	margin-right:0.08em;
}

.exhibit_header {
	color:#999999;
	font-family:"Trebuchet MS","Bell MT","Old English",Georgia,Times,serif;
}

.exhibit_title {
	text-align:right;
	clear:both;
}

.exhibit_author {
	text-align:right;
}

.exhibit_nav {
	clear:left;
	float:right;
	font-family:Verdana,sans;
	font-size:2.4em;
	text-align:right;
	padding-bottom: .5em;
}

.exhibit_nav a:visited {
	color:#DCDCDC;
	text-decoration:none;
}
.exhibit_nav a:link {
	color:#DCDCDC;
	text-decoration:none;
}

.here a {
	color:#999999;
}
.exhibit_nav .here a:hover {
	color:#C0C0C0;
}
.arrowhere {
	color:#C0C0C0;
}

.exhibit_nav a:hover {
	color:#333333;
}

.exhibit_nav a {
	color:#666666;
}

.exhibit_illustration_text {
	background:#DCDCDC none repeat scroll 0 0;
	border:1px solid #999999;
	color:#666666;
	font-family:"Trebuchet MS",Arial,sans-serif;
	font-size:smaller;
	/*margin-left:2em;
	margin-right:2em;*/
	padding:0.5em;
	text-align:center;
	line-height:1.4em;
	margin-bottom: 8px;
}

.exhibit_caption1 {
	background:#DCDCDC none repeat scroll 0 0;
	border:1px solid #999999;
	color:#666666;
	font-family:"Trebuchet MS",Arial,sans-serif;
	font-size:smaller;
	margin-left:2em;
	margin-right:2em;
	padding:0.5em;
	text-align:center;
	line-height:1.4em;
}

.exhibit_caption2 {
	background:#999999 none repeat scroll 0 0;
	color:#FFFFFF;
	margin:0.2em -0.5em -0.5em;
	padding:0.1em;
	line-height:1.4em;
}

.yui-resize-wrap {
	padding: 8px;
}

.exhibit_nextlink {
	float:right;
}

.exhibit_nextlink a {
	background:#DCDCDC none repeat scroll 0 0;
	border:1px solid #999999;
	clear:both;
	font-size:1.1em;
	margin:1em 0;
	padding:0.2em;
	text-decoration:none;
}

.bibliography_explanation {
	background-color: #dddddd;
	margin-top: 1em;
	margin-left: 3em;
	font-size: 1.2em;
	padding:5px;
}

.row_of_illustration_msg {
	font-size: 1.5em;
	color: gray;
	font-style: italic;
}
