a {
	color:#666666;
}

a:hover {
	color:#333333;
}

a img:hover {
	border:2px solid #999999;
	padding:3px;
}
h2 {
	color:#666666;
	font-family:"Trebuchet MS","Bell MT","Old English",Georgia,Times,serif;
}

h3 {
	color:#999999;
	font-family:"Trebuchet MS","Bell MT","Old English",Georgia,Times,serif;
}

#exhibit_page {
	background-color: #ffffff;
	padding: 0em 1em 1em 1em;
}

.exhibit_section_with_border {
	border: 1px solid #DCDCDC;
	clear:both;
	margin-bottom:1em;
	margin-top:1em;
	padding-bottom:1em;
}

.exhibit_section_without_border {
	margin: 2em;
}

.exhibit_text {
	padding:1em;
}

.exhibit_first:first-letter {
	color:#999999;
	float:left;
	font-family:"Bell MT","Old English",Georgia,Times,serif;
	font-size:420%;
	line-height:0.85em;
	margin-bottom:-0.15em;
	margin-right:0.08em;
}

.exhibit_header {
	color:#999999;
	font-family:"Trebuchet MS","Bell MT","Old English",Georgia,Times,serif;
}

.exhibit_title {
	text-align:right;
}

.exhibit_author {
	text-align:right;
}

.exhibit_nav {
	clear:left;
	float:right;
	font-family:Verdana,sans;
	font-size:2.4em;
}
.exhibit_nav a:visited {
	color:#DCDCDC;
	text-decoration:none;
}
.exhibit_nav a:link {
	color:#DCDCDC;
	text-decoration:none;
}
.exhibit_nav a:hover {
	color:#999999;
}
.exhibit_nav {
	text-align:right;
}
.here a {
	color:#999999;
}
.exhibit_nav .here a:hover {
	color:#C0C0C0;
}
.arrowhere {
	color:#C0C0C0;
}

.exhibit_nav a:hover {
	color:#999999;
}

.exhibit_nav a:visited {
	color:#666666;
}

.exhibit_nav a:hover {
	color:#333333;
}

.exhibit_nav a {
	color:#666666;
}

.exhibit_caption1 {
	background:#DCDCDC none repeat scroll 0 0;
	border:1px solid #999999;
	color:#666666;
	font-family:"Trebuchet MS",Arial,sans-serif;
	font-size:smaller;
	margin-left:2em;
	margin-right:2em;
	padding:0.5em;
	text-align:center;
	line-height:1.4em;
}

.exhibit_caption2 {
	background:#999999 none repeat scroll 0 0;
	color:#FFFFFF;
	margin:0.2em -0.5em -0.5em;
	padding:0.1em;
	line-height:1.4em;
}

.exhibit_illustration {
	padding-left:1em;
	padding-right:1em;
}

.exhibit_illustration img {
	border:1px solid #DCDCDC;
	margin:0.4em;
	padding:4px;
}

.exhibit_nextlink {
	float:right;
}

.exhibit_nextlink a {
	background:#DCDCDC none repeat scroll 0 0;
	border:1px solid #999999;
	clear:both;
	font-size:1.1em;
	margin:1em 0;
	padding:0.2em;
	text-decoration:none;
}

/* These are from the original sample website. They probably aren't needed.
.content {
padding-bottom:1em;
}
.caption a {
color:#999999;
}
.caption a:hover {
color:#333333;
}
img {
border:1px solid #DCDCDC;
margin:0.4em;
padding:4px;
width:250px;
}
img.smaller {
width:150px;
}
img.larger {
width:350px;
}

table {
border:1px solid #DCDCDC;
clear:both;
margin-bottom:1em;
margin-top:1em;
padding-bottom:1em;
}
td {
padding-left:1em;
padding-right:1em;
}
.caption {
background:#DCDCDC none repeat scroll 0 0;
border:1px solid #999999;
color:#666666;
font-family:"Trebuchet MS",Arial,sans-serif;
font-size:smaller;
margin-left:2em;
margin-right:2em;
padding:0.5em;
text-align:center;
}
.cite {
background:#999999 none repeat scroll 0 0;
color:#FFFFFF;
margin:0.2em -0.5em -0.5em;
padding:0.1em;
}
.first:first-letter {
color:#999999;
float:left;
font-family:"Bell MT","Old English",Georgia,Times,serif;
font-size:420%;
line-height:0.85em;
margin-bottom:-0.15em;
margin-right:0.08em;
}
#collexbar {
background:#DCDCDC none repeat scroll 0 0;
border-bottom:1px solid #999999;
font-size:0.8em;
left:0;
margin:0;
padding:0.4em 1em;
position:absolute;
right:0;
top:0;
}
.colophon {
clear:none;
}
.technical {
float:right;
}
#bcollexbar {
background:#DCDCDC none repeat scroll 0 0;
border-top:1px solid #999999;
clear:right;
font-size:0.8em;
left:0;
margin-top:1.6em;
padding:0.4em 1em;
position:absolute;
right:0;
}
.nextlink {
float:right;
}
.nextlink a {
background:#DCDCDC none repeat scroll 0 0;
border:1px solid #999999;
clear:both;
font-size:1.1em;
margin:1em 0;
padding:0.2em;
text-decoration:none;
}
.nextlink a:hover {
background:#999999 none repeat scroll 0 0;
border:1px solid #666666;
color:#FFFFFF;
}
*/

