.exhibit_list {
	margin-left: 1em;
	margin-right: 1em;
}

.exhibit_link {
	padding-left: 1em;
}

.exhibit_thumbnail {
	padding: 2px;
}

.exhibit_left_column {
	float: left;
	width: 450px;
	margin-top: 20px;
	border-right: 2px solid #C7AA97;
}

.exhibit_right_column {
	margin-left: 470px;
	margin-top: 20px;
}

.exhibit_category {
	font-size: 1.2em;
	font-weight: bold;
}

.exhibit_list_title_explanation {
	color: gray;
	font-size: .8em;
}
