.exhibits .thumbnail {
	font-size:  1em;
}
.exhibits .thumbnail img {
	margin-left:  3px;
	margin-right:  0px;
	width:  100px;
	height:  100px;
	border:  0px;
}
.exhibits .thumbnail a {
	padding: .2em;
}
.exhibits .thumbnail:hover a {
	color:  #fff;
}
.exhibits .blurb {
	text-align: center;
	padding-left: 6em;
	padding-right: 6em;
}
.exhibits .blurbette {
	padding-left: 6em;
	padding-right: 6em;
}
.exhibits .bigbuttons {
	padding-left: 2em;
}
.exhibits .featured .thumbnail img {
	padding:  .2em;
	margin-right: 6px;
}
.exhibits .featured .thumbnail a:hover {
	background: none;
}
#exhibit-body {
  position: relative;
  border: 1px solid #999;
}

#exhibit-content, #exhibit-menu {
  padding: 10px 15px;
}
#exhibit-menu {
  float: right;
  text-align: right;
  width: auto;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  border-top-style: none;
  border-right-style: none;
}

#exhibit-body table td, #exhibit-body table th {
  vertical-align: top;
}
#exhibit-body.edit, #exhibit-menu.edit {
  border-color: red;
}

#exhibit-body.edit textarea.tiny-mce {
  width: 30em;
  height: 30em;
}

/* set different width for the caption textarea */
#exhibit-body.edit .illustration-caption textarea.tiny-mce {
  width: 100px;
  height: 30em;
}

.drop-zone-wrapper {
  position: relative;
  width: 32em;
  height: 7em;
  margin: .5em;
}
.resource-drop-zone, .add-text-area {
  border: 1px dashed grey;
  height: 5em;
  width: 10em;
  text-align: center;
  padding: 1em 1em;
  margin: .4em;
}
.drop-zone-wrapper .add-text-area {
  position: absolute;
  right: 0;
}
.drop-zone-wrapper .resource-drop-zone {
  position: absolute;
  left: 0;
}
#exhibit-menu ul{
  display: block;
/*  float: right;*/
  list-style: none;
  margin: 0;
  padding: 0;
}

#exhibit-menu .add-a-section {
  background-color: #dcdcdc;
}

#exhibit-body span.label {
  color:grey;
}

#exhibit-body div.section {
  border: 1px solid #999;
  padding: 1em;
  margin: 1em 0 1em 0;
}

#exhibit-body div.illustration-right {
  float: right;
  margin-left: 3em;
}

#exhibit-body div.illustration-left {
  float: left;
  margin-right: 3em;
}

#exhibit-body .illustration-caption {
  max-width: 100px;  
  padding: .5em;
  background-color: #DCDCDC;
  color: #666;
  margin: 1em 0;
}

#exhibit-body img {
  border: 0;
}

a.double-arrow, a.single-arrow {
  letter-spacing: -.4em;
}
a.single-arrow {
  margin: auto .5em;
}