#exhibit_page {
	background-color: #ffffff;
	padding: 1em;
}

.exhibit_section_with_border {
	border: 1px solid #DCDCDC;
	margin: 2em;
}

.exhibit_section_without_border {
	margin: 2em;
}

.exhibit_text {
	color:#000000;
	font-family:Helvetica Neue,Trebuchet MS,Georgia,Times New Roman,serif;
	font-size:0.9em;
	line-height:1.4em;
	padding:1em;
}

.exhibit_first:first-letter {
	color:#999999;
	float:left;
	font-family:"Bell MT","Old English",Georgia,Times,serif;
	font-size:420%;
	line-height:0.85em;
	margin-bottom:-0.15em;
	margin-right:0.08em;
}

.exhibit_header {
	color:#999999;
	font-family:"Trebuchet MS","Bell MT","Old English",Georgia,Times,serif;
}

.exhibit_title {
	padding-top:0.8em;
	text-align:right;
	color:#666666;
	font-family:"Trebuchet MS","Bell MT","Old English",Georgia,Times,serif;	
}

.exhibit_author {
	text-align:right;
	color:#999999;
	font-family:"Trebuchet MS","Bell MT","Old English",Georgia,Times,serif;
}

.exhibit_nav {
	font-family:Verdana,sans;
	font-size:2.4em;
	color:#C0C0C0;
	text-align:right;
}

.exhibit_nav a:hover {
	color:#999999;
}

.exhibit_nav a:visited {
	color:#666666;
}

.exhibit_nav a:hover {
	color:#333333;
}

.exhibit_nav a {
	color:#666666;
}

.exhibit_caption1 {
	background:#DCDCDC none repeat scroll 0 0;
	border:1px solid #999999;
	color:#666666;
	font-family:"Trebuchet MS",Arial,sans-serif;
	font-size:smaller;
	margin-left:2em;
	margin-right:2em;
	padding:0.5em;
	text-align:center;
	line-height:1.4em;
}

.exhibit_caption2 {
	background:#999999 none repeat scroll 0 0;
	color:#FFFFFF;
	margin:0.2em -0.5em -0.5em;
	padding:0.1em;
	line-height:1.4em;
}

.exhibit_illustration {
	padding-left:1em;
	padding-right:1em;
}

.exhibit_illustration img {
	border:1px solid #DCDCDC;
	margin:0.4em;
	padding:4px;
}

.exhibit_nextlink {
	float:right;
}

.exhibit_nextlink a {
	background:#DCDCDC none repeat scroll 0 0;
	border:1px solid #999999;
	clear:both;
	font-size:1.1em;
	margin:1em 0;
	padding:0.2em;
	text-decoration:none;
}

/*.exhibits .thumbnail {
	font-size:  1em;
}
.exhibits .thumbnail img {
	margin-left:  3px;
	margin-right:  0px;
	width:  100px;
	height:  100px;
	border:  0px;
}
.exhibits .thumbnail a {
	padding: .2em;
}
.exhibits .thumbnail:hover a {
	color:  #fff;
}
.exhibits .blurb {
	text-align: center;
	padding-left: 6em;
	padding-right: 6em;
}
.exhibits .blurbette {
	padding-left: 6em;
	padding-right: 6em;
}
.exhibits .bigbuttons {
	padding-left: 2em;
}
.exhibits .featured .thumbnail img {
	padding:  .2em;
	margin-right: 6px;
}
.exhibits .featured .thumbnail a:hover {
	background: none;
}
#exhibit-body {
  position: relative;
  border: 1px solid #999;
}

#exhibit-content, #exhibit-menu, .section-menu {
  padding: 10px 15px;
}
#exhibit-menu, .section-menu {
  float: right;
  text-align: right;
  width: auto;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  border-top-style: none;
  border-right-style: none;
}
.section-menu {
  margin-top: -11px;
  margin-right: -12px;
}

#exhibit-body table td, #exhibit-body table th {
  vertical-align: top;
  padding: .5em;
}
#exhibit-body.edit, #exhibit-menu.edit {
  border-color: red;
}

#exhibit-body.edit textarea.tiny-mce,
#exhibit-body.edit textarea.non-tiny-mce {
  width: 30em;
  height: 30em;
}

#exhibit-body .section-handle, #exhibit-body .page-handle {
  text-align: left;
  position: relative;
}

#exhibit-body .section-handle img, #exhibit-body .page-handle img {
  right: -9px;
  top: -9px;
  position: absolute;
}

.shared-not-published {
  background-color: #d3d3d3;
  padding: 10px;
  width: 650px;
}*/

/* set different width for the caption textarea */
/*#exhibit-body.edit .illustration-caption textarea.tiny-mce,
#exhibit-body.edit .illustration-caption textarea.non-tiny-mce {
  width: 100px;
  height: 30em;
}

.drop-zone-wrapper {
  position: relative;
  width: 32em;
  height: 7em;
  margin: .5em;
}

.inline-drop-zone-wrapper {
  position: relative;
  border: 1px solid #999;
  padding: 1em;
  margin: 1em 0 1em 0;
  background-color: #ffffff;
}

.resource-drop-zone, .add-text-area {
  border: 1px dashed grey;
  height: 5em;
  width: 10em;
  padding: 1em 1em;
  margin: .4em;
  text-align: center;
}
.drop-zone-wrapper .add-text-area {
  position: absolute;
  right: 0;
}
.drop-zone-wrapper .resource-drop-zone {
  position: absolute;
  left: 0;
}

.drop-zone-hover {
  background-color: #ccc;
}

#exhibit-menu ul, .section-menu ul{
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

#exhibit-menu .add-a-section {
  background-color: #dcdcdc;
}


#exhibit-body span.label {
  color:grey;
}

#exhibit-body #sortable-pages {
  clear: both;
  margin-top: 30px;
}
#exhibit-body div.sortable-page {
  border: 1px solid #999;
  padding: 1em;
  margin: 1em 0 1em 0;
}

#exhibit-body .sortable-object {
  margin: 10px;
}

#exhibit-body div.section {
  border: 1px solid #999;
  padding: 1em;
  margin: 1em 0 1em 0;
}

#exhibit-body div.illustration-right {
  float: right;
  margin-left: 3em;
}

#exhibit-body div.illustration-left {
  float: left;
  margin-right: 3em;
}

#exhibit-body .illustration-caption {
  max-width: 100px;  
  padding: .5em;
  background-color: #DCDCDC;
  color: #666;
  margin: 1em 0;
}

#exhibit-body img {
  border: 0;
}

.double-arrow, .single-arrow {
  letter-spacing: -.4em;
}
.single-arrow {
  margin: auto .5em;
}
span.double-arrow, span.single-arrow {
  color: #C9C9C9;
}

#license img {
	height: 20px;
	padding: 0 0 5px 0;
}

#license.edit {
	padding: 2px 0 0 0;
}
#license.show {
	text-align: right;
}*/

/* .collectlink is defined in new9s.css*/
/*#exhibit-body .collectlink {
  clear: both;
}
#exhibit-body .collectlink a {
  margin-left: 0;
}*/