
/* home.css - Styles that apply to the site home page */

.contributor-list {
	border-top: 1px solid black;
}

.contributor-list-left-col {
	border-right: 1px solid black;
}

.search-button {
	margin-left: 5px;
}

.contributor-list-caption {
	margin-top: 1em;
	margin-bottom: 1em;
	/*font-size: 1.3em;*/
}

.contributor-list td {
	padding: 5px 20px 5px 20px;
}

#welcome-to-nines {
	background: #f1de3e;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 45px;
	font-size: 10pt;
}

#home-instructions {
	margin-top: 50px;
	margin-bottom: 5px;
	border-top: 1px solid black;	
	padding-top: 25px;
	padding-bottom: 25px;
}