	/* styles for the login pages */
	
#login_content {
	background: #fff;
	padding: 3px;
	margin-top: 40px;
}
	
.login-title {
	/*font-size: 2em;*/
	padding: .6em;
	font-weight: bold;
}

.login-explanation {
	font-style: italic;
	/*font-size: 1.2em;*/
	margin-bottom: 2em;
}

.login-option {
	font-weight: bold;
}

.login-option2 {
	margin-left: 2em;
	margin-top: .5em;
	margin-bottom: .5em;
	border: 1px solid gray;
	padding: 3px;
	width: 35em;
	background: #eeeeee;
}

.flash_notice {
	color: green;
	font-weight: bold;
}

.login-row {
	padding-left: 1em;
	padding-right: 2em;
}

/******************************************/

.login_div {
	margin:-10px;
	padding-bottom:20px;
	padding-left:18px;
	padding-right:20px;
	padding-top:80px;
	background-image:url("/images/login_header.jpg");
	background-repeat:no-repeat;
	border-left: 8px solid #670001;
	border-right: 8px solid #670001;
	border-bottom: 8px solid #670001;
/*	border-left: 8px solid #5f3119;
	border-right: 8px solid #5f3119;
	border-bottom: 8px solid #5f3119;*/
	width: 272px;
}

.login_title {
	font-weight: bold;
	font-size: 1.2em;
}

.login_label {
	
}

.login_div input[type="text"] {
	width: 200px;
}

.login_div input[type="password"] {
	width: 200px;
}

.login_div input[type="button"] {
	margin-right: 10px;
}

.login_row {
	padding-bottom: 10px;
}

.login_instructions {
	font-style: italic;
	color: #777777;
}

.flash_notice_ok {
	color: green;
	font-weight: bold;
	padding-bottom:10px;
}

.flash_notice_error {
	color: red;
	font-weight: bold;
	padding-bottom:10px;
}


