/* my9s.css  - This file contains style that only apply to functionality under the My9s tab */

#edit_exhibit_sidebar {
	vertical-align: top;
	width: 350px;
}

#edit_exhibit_outer {
	width: 100%;
}

#edit_exhibit_main {
	vertical-align: top;
}

.input_dlg_list {
	background-color: white;
	color: black;
}

.input_dlg_list_item_selected td {
	background-color: gray;
	color: white;
}

.nines_obj_uri {
	text-decoration:underline;
}

.mceIcon:hover {
	border: 0px;
	padding: 0px;
}

.mceIframeContainer {
	height: 100%;
}

.richEditorHover {
	border: 1px dashed black;
	margin: -1px;
}

.edit_exhibit_hover {
	background-color: blue;
}

.illustration_control_border a:hover {
	/*color: white;*/
	background: white;
	border: 0 none;
}

.illustration_control_border a {
	border: 0 none;
}

.edit_exhibit_header {
	color: white;
	background-color: gray;
}

.outline_right_controls {
	margin-right: 3px;
	float: right;
}

.border_controls {
	background-color: #dddddd;
}

.outline_right_controls_no_space {
	margin-right: 0px;
	float: right;
}

.close_link a {
	background-color: #a60000;
	color: white;
}

.outline_tree {
	padding-left: 0px;
}

.outline_tree > li {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin-top:1em;
	margin-bottom:1em;
	background-color: #cccccc;
}

.outline_tree_elements {
	padding-left: 1em;
}

.outline_tree_elements li {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:.5em;
	border: 1px dotted gray;
	padding-top: 1px;
}

.outline_tree_element_selected {
	background-color: gray;
}

.outline_element .count a {
	background-color: gray;
	color: white;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-top: 2px;
}

.outline_element .outline_right_controls {
	display: none;
}

.outline_tree_element_selected .outline_right_controls {
	display: inherit;
}

.outline_tree_element_selected .count a {
	background-color: #eeeeee;
	color: black;
}

.edit_exhibit_element_number {
	background-color: #eeeeee;
	color: black;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-top: 2px;
}

.exhibit_outline_text {
	color: black;
	font-style: italic;
	margin-right: 3px;
	cursor: move;
}

.exhibit_outline_header {
	font-size: larger;
	font-weight: bold;
	color:#999999;
	font-family:"Trebuchet MS","Bell MT","Old English",Georgia,Times,serif;
}

#exhibit_outline_title {
	background-color: #cccccc;
	font-weight: bold;
	text-align: center;
	cursor: move;
}

.textarea-resizer {
	background:#E0E0E0 url(../images/resize-handler.gif) no-repeat scroll 100% 100%;
	border:1px solid #B0B0B0;
	cursor:se-resize;
	font-size:11px;
	height:11px;
	line-height:11px;
}

/* styles for the standard boxes */

.edit_exhibit_box {
	border: 1px solid gray;
}

.edit_exhibit_section_box {
		border: 3px solid gray;
}

.edit_exhibit_box_no_border {
	border: 0px;
}

.edit_exhibit_box h1 {
	background: #707070;
	color: white;
	font-size: .8em;
	margin-top: 0px;
	padding: 1px;
	font-weight: normal;
}

.edit_exhibit_box h1 a {
	color: #ffffff;
}
	
.inside_edit_exhibit_box {
	margin-left: .2em;
	margin-right: .2em;
	margin-bottom: .5em;
}

.exhibit_delta_link {
	position: absolute;
	z-index: 100;
}

.outline_section_with_border {
	border: 3px solid gray;
	margin-right: 1em;
	margin-bottom: 2px;
}

.outline_section_without_border {
}

.illustration_control_border {
	border: 4px solid gray;
}

a.edit_exhibit_widget {
	border: 0px;
	color: white;
	background: white;
}

.edit_illustration_column {
	padding: 0px;
	margin: 0px;
}

.resizer a:hover {
	border: 0px;
	color: white;
	padding: 0px;
}

/* my9s tab */

.my9s_instructions {
	margin: 50px 200px 50px 200px;
	border:gray 1px dotted;
	background:#D3D3D3;	
	text-align:center;
	padding:5px;
}

.my9s_instructions span {
font-weight:bold;
}

.my9s_instructions p{
    font-style: italic;
}

.empty_list_text {
	color: gray;
	font-style: italic;
	padding-bottom: 1em;
}

