@charset "UTF-8";
/* CSS Document */

.my9s_instructions {
	margin: 50px 200px 50px 200px;
	border:gray 1px dotted;
	background:#D3D3D3;	
	text-align:center;
	padding:5px;
}

.my9s_instructions span {
font-weight:bold;
}

.my9s_instructions p{
    font-style: italic;
}

.narrow_tag_cloud .tagcloud {
	margin-left: 0em;
	margin-right: 0em;
	margin-bottom: 1em;
	margin-top: 1em;
}

.narrow_tag_cloud .tag_filter {
	margin-top: 1em;
}

.empty_list_text {
	color: gray;
	font-style: italic;
	padding: 1em;
}

.edit_tag_link {
	font-size: .7em;
	font-weight: normal;
}

/* Exhibit builder */

.exhibit_illustration .close_link {
	margin-right: -20px;	
}

.edit_exhibit_heading {
	padding-top:10px;
}

.exhibit_palette {
	border:1px solid gray;
	margin: 0px 4px 4px 0px;
	padding: 1em;
}

.exhibit_palette_items {
	overflow:auto;
	height:120px;
	/*width:338px;*/
}

.exhibit_profile {
	font-weight: bold;
	font-size: 1.1em;
}

.exhibit_profile_preview {
	padding-top:0.5em;
}

.exhibit_profile_label {
	color: #777777;
}

.exhibit_preview_thumbnail {
	float: left;
	padding-right: 10px;
	padding-bottom: 6px;
}

.edit_bar {
	background: #dddddd;
	color: white;
}

.edit_bar a {
/*	vertical-align:super;*/
}

.exhibit_sharing {
	clear: both;
}

.edit_exhibit_box h1 {
	background: #707070;
	color: white;
	font-size: .8em;
	padding: 3px;
	font-weight: normal;
}

.inside_edit_exhibit_box {
	margin-left: .2em;
	margin-right: .2em;
	margin-bottom: .5em;
}

.edit_exhibit_links {
	float:right;
	margin-bottom:1em;
}

.edit_exhibit_element_number {
	background-color: #eeeeee;
	color: black;
	padding-left: 5px;
	padding-right: 5px;
/*	padding-bottom: 2px;
	padding-top: 2px;*/
}

.select_element_type {
	margin-right: 1em;
}

.edit_illustration_column {
	padding: 0px;
	margin: 0px;
}

.resizer {
	color: white;
}

img.resizer:link {
	border: 0px;
	color: white;
	padding: 0px;
}
img.resizer:visited {
	border: 0px;
	color: white;
	padding: 0px;
}
img.resizer:hover {
	border: 0px;
	color: white;
	padding: 0px;
}
img.resizer:active {
	border: 0px;
	color: white;
	padding: 0px;
}

#overview_data {
	margin-bottom: 1em;
}

#overview_data h1 {
	margin-top: 0px;
}

#global_form{
	border:1px solid gray;
	margin: 0px 4px 4px 0px;
	padding: 1em;
	height:134px;
}

/* For border dialog */
#border_container {
	background-color:white;
	border-top:1px solid black;
	margin-top:10px;
	padding:0.7em;
}

.border_dlg_element {
	padding: 8px;
}

#border_container .count {
	background-color: gray;
	color: white;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-top: 2px;
}

#border_outer_container .instructions {
	font-style: italic;
	padding-bottom: .8em;
}

#border_outer_container .toolbar {
	text-align: center;
}

#border_container .border_top {
	border-top: 3px solid gray;
	margin-top: 1px;
}

#border_container .border_sides {
	border-left: 3px solid gray;
	border-right: 3px solid gray;
}

#border_container .border_bottom {
	border-bottom: 3px solid gray;
	margin-bottom: 1px;
}

.rubberband_dlg_element {
	padding-left: 2px;
	padding-right: 2px;
	border-left: 2px solid white;
	border-right: 2px solid white;
}

#border_container .selection_border_top {
	border-top: 2px dotted black;
}

#border_container .selection_border_sides {
	border-left: 2px dotted black;
	border-right: 2px dotted black;
}

#border_container .selection_border_bottom {
	border-bottom: 2px dotted black;
}

.side_bar_exhibit_thumbnail {
	float: left;
	margin-left:4px;
	margin-top:2px;
}

.side_bar_exhibit_text {
	margin-left:50px;
}

.side_bar_exhibit_spacer {
	border-bottom:1px solid #966C54;
}

table.query td {
	max-width:82px;
	overflow:hidden;
}

#exhibited_objects_container table td {
	text-align: left;
}
