/*@charset "UTF-8";*/
/* CSS Document */



#nav_container {
}

.tab_link {
	height:29px;
	width:71px;
	float:right;
	background:url(/images/index_tab.gif) top left no-repeat;
	color:#FDDFAB;
	font-weight:bold;
	text-decoration:none;
	padding-top:9px;
}

.tab_link:hover {
	text-decoration:underline;
}

.tab_link_current {
	height:29px;
	width:71px;
	float:right;
	background:url(/images/index_tab_dn.gif) top left no-repeat;
	color:black;
	font-weight:bold;
	text-decoration:none;
	padding-top:9px;
}

.tab_link_current:hover {
	text-decoration:underline;
}

#subnav_container{
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.90em;
	padding:5px 20px 0px 20px;
	color:#999999;
}

#login_container{
	float:left;
}

#subnav_links_container {
	float:right;
}

.subpage_nav {
	text-align: center;
	background-color: #eeeeee;
}

.bottom_nav {
	padding-top: 1em;
}
