.pagetitle {
	margin-left: 20px;
}

/*posts*/

.widecolumn .entry p {
padding: 5px;
}

p img {
padding: 15px;
}

p {
padding: 10px;
}

em {
font-style:italic;
}

strong {
font-weight:bold;
}

#installation-instructions {
	margin-left: 50px;	
	margin-right: 50px;
}

#installation-instructions blockquote {
	margin-left: 100px;
	margin-right: 100px;	
	background-color: #E0E0E0;
	padding: 10px;
	border: 1px solid black;
}

#installation-instructions p {
	margin-left: 10px;
	margin-right: 10px;	
}

.instructions-note {
	background-color: #670001;
	color: white;
	padding-left: 10px;
	border: 3px solid black;
}