/* results.css  - This file contains style that only apply to functionality under the Results controller */

.result-count-form {
	margin-top: 5px;
	margin-right: 5px;	
}

#profile {
	padding: 1em;
	/*font-size: 1.1em;*/
}

.profile_label {
	font-weight: bold;
}

.profile_paragraph {
	font-style: italic;
}

/* styles for search result */
/*.result_with_tag {
	background-image:url(../images/collected_row_gradient.jpg);
	background-position: right;
	background-repeat:repeat-y;
}*/

.result_without_tag {
}

.search-result-title {
	/*font-size: larger;*/
	font-weight: bold;
	font-size: 1.2em;
}

.collect_link {
	/*font-size: 1.4em;*/
}

.lightbox_img_spinner div {
	font-size: 1.5em;
	padding: 1em;
	width: 300px;
}

.lightbox_img_spinner img {
	padding: 35px;
}

/*.collectlink {
	text-align: left;
	vertical-align: top;
}

.collectlink a {
	color: #999;
	font-size: 90%;
	margin-left: 1em;
}*/

/*.collectlink a:hover {
	color: #A60000;
	background: #fff;
}*/

/*.detail-link {
	text-align: left;
	vertical-align: top;
}
.detail-link a {
	color: #999;
	font-size: 90%;
	margin-left: 1em;
}
.detail-link a:hover {
	color: #A60000;
	background: #fff;
}*/


.results {
	/*margin-left: 2em;
	margin-right: 4em;*/
	padding: 1em;
	width: 100%;
}

.results table {
	padding-bottom: 1em;
}

.result_row_td {
	width: 100%;
}

.result_with_tag .result_row_td {
	background-image:url(../images/collected_row_gradient.jpg);
	background-position: right;
	background-repeat:repeat-y;
}

.result_row_td table {
	width: 100%;
}

.gradient_border {
	border-right: 4px solid #822210;
	background-image: url(/images/row_seperator.jpg);
	background-position:bottom right;
	background-repeat:no-repeat;
}

.results img {
	width: 100px;
	/*max-width: 100px;*/
	height: auto;
	border: 1px solid #fff;
	margin: 0 1em 0 1em;
	background-color: #fff;
}

/*.results a img:hover {
	border: 1px solid #A60000;
	background-color: #fff;
}

.results a {
	padding: 0 2px 0 2px;	
	background: #fff;
}

.results a:hover {
	padding: 0 2px 0 2px;	
	background: #A60000;
}

.results a.thumb:hover {
	padding: 0 2px 0 2px;	
	background: #fff;
}

.result_with_tag a {
	background-color: #eeeeee;
}*/

.bulkcollect {
	margin-left: 1.2em;
	margin-bottom: 10px;
	margin-top: 1em;
}

.showall {
	margin-right: 1.2em;
	margin-bottom: 10px;
	margin-top: 1em;
	text-align: right;
}

.paginate-current {
	font-weight: bold;
}

.my_tag {
	font-weight: bold;
}

.tags_instructions {
	font-style: italic;
}

.remove_tag {
	color: gray !important;
}

.remove_tag:hover {
background-color:#e0e0e0;
color: black !important;
}
