/* search.css  - This file contains style that only apply to functionality under the Search tab */

#add-search-constraint input {
	margin-bottom: .8em;
	font-size:7pt;
}

#saved-searches {
	width: 300px;
}

/*.results-number {
	font: 1.8em  trebuchet ms, verdana, sans-serif;
	color: #000000;
	line-height: 1.8em;
}*/

/*.non-emph-results-line {
	font: 1.8em  trebuchet ms, verdana, sans-serif;
	color: #808080;
	line-height: 1.8em;
}*/

.reset-search-button {
	margin-top: 5px;
	margin-right: 5px;
	float: right;
}

#resource-list h1 {
font-size: 12pt;
text-align:center;
}

/*#resource-list h1 {
	background: #E0E0E0;
	font-size: 12pt;
	margin-top: 0px;
	padding: 5px;
}*/

/*.results-number {
	padding-left: 10px;
}*/

.sidebar_instructions {
	/*font-size: 9pt;*/
	color: gray;
}

#resource-list h2 {
	font-size: 1em;
	margin-bottom: 3px;
}

.grayed-out-resource {
	color: gray;
}

.site-category-toggle {
	margin-right: 3px;
}

.deselect-resource-link {
	margin-left: 20px;
}

.resource-list-content {
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}

#resource-list ul {
	padding-left: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#resource-list li {
	/*font-size: 9pt;*/
	list-style: none;
	padding-bottom: 3px;
}

.resource_list_selected {
	font-style: italic;
	font-weight: bold;
	background-color: #eeeeee;
}

#resource-list .submit-button {
	margin-top: 3px;
	float: right;
}

#search-sidebar {
	vertical-align: top;
	width: 350px;
}

/*#search-divider {
	vertical-align: top;
	width: 2px;
}*/

#search-outer {
	width: 100%;
}

#search-main {
	vertical-align: top;
}

#search-terms {
	margin-bottom: 10px;
}

#search-terms h1 {
font-size:12pt;
}

#search-results {
}

/* style for the drop down drawer 
#login-slider {
	position: absolute;
	width: 400px;
}*/

/* styles for search result */

.constraints {
	width: 100%;
/*	border: 1px solid #666;*/
	padding: .4em;
/*	background-color: #ededed;*/
}

.constraints a {
	padding: 0 2px 0 2px;	
}

/*.facettable-header {
	background-color: #d3d3d3;
}*/

/*.constraints tr:hover {
	background-color: #d3d3d3;	
}*/
.constraints th {
	font-weight: normal;
	color: #666;	
}

.constraints a:hover {
	background-color: #730000;
	color: #fff;	
}

.constraints caption {
	text-transform: uppercase;
	text-align: left;
	color: #000000;
}

#myconstraints {
	margin: 10px;
}

/*#facettable {
	/*width: 98%;* /
}

#facettable-caption {
	margin-top: 5px;
}

#facettable img {
	border: 0;
}*/

/*.constables {
	width: 100%;
	padding-right: 1em;
}*/

/* commenting out IE-specific hacks 

* html .constables {
	display: block;
	position: relative;
}
* html #facettable {
	float: none;
	position: relative;
	left: 48%;
}
* html #myconstraints {

}   
* html #under {

}

*/

/*ul.results {
	list-style: none;
}

ul.results li {
	padding: 1em;
	clear: both;
}*/


/*.collecttd {
	vertical-align: top;
}*/

/*.resultsbutton {
	padding-bottom: .3em;
	vertical-align: top;
	font-size:1.1em;
}

.resultsbutton a {
	background-color:#d3d3d3;
	padding:.3em;
	border: 1px solid #333;
}

.resultsbutton a:hover {
	background-color: #A60000;
}*/

