@charset "UTF-8";
/* CSS Document */

table td {
	padding:10px 10px 10px 0px;
	text-align:right;
}

.search_entry_box {
	width:400px;
}

.new_search {
	background:url(/images/lvl2_new_search.jpg) top left no-repeat;
	width:97px;
	height:39px;
	float:right;
}

.new_search:hover {
	background:url(/images/lvl2_new_search_rl.jpg) top left no-repeat;
	width:97px;
	height:39px;
	float:right;
}

table.query {
	border-top:1px solid #CEB6A6;
	border-left:1px solid #CEB6A6;
	width:100%;
	margin-top:10px;
}

#saved-searches table.query {
	width:inherit;
}

table.query select {
	font-size:0.8em;
}

table.query td {
	border-right:1px solid #CEB6A6;
	border-bottom:1px solid #CEB6A6;
}

td.query_type {
	width:80px;
	text-align:right;
	padding:3px 5px 3px 5px;
}

td.query_term {
	text-align:left;
	padding:3px 5px 3px 5px;
}

.query_term input {
	width:80%;
}

td.query_and-not {
	padding:3px 5px 3px 5px;
	width:80px;
	text-align:center;
}

.query_and-not_select{
	font-size:0.8em;
}

td.query_remove {
	padding:5px 8px 5px 8px;
	width:25px;
	text-align:center;
}


/*----------------------------*/

td.edit_delete_col {
	text-align:right;
	width:90px;
}

th.num_objects {
	text-align:center;
	width:70px;
}

td.num_objects {
	text-align:right;
	width:50px;
}

td.limit_to_lvl1 {
	text-align:left;
}

td.limit_to_lvl2 {
	padding-left:12px;
	text-align:left;
}

td.limit_to_lvl3 {
	padding-left:24px;
	text-align:left;
}

td.limit_to_lvl4 {
	padding-left:36px;
	text-align:left;
}

tr.limit_to_selected {
	background:#3C3C3D;
	color:#FFFFFF;
}

.limit_to_category {
	font-weight: bold;
}

.no_results_msg {
	text-align: center;
	font-size: 1.5em;
	padding-top: 40px;
}

#savesearch_link {
	font-size: .7em;
}

.limit_to {
	width:90%;
	margin:10px 5% 10px 5%;
}

.limit_to td, .limit_to th {
	padding-top: 2px;
	padding-bottom: 2px;
}

.limit_to th {
	background:#B99A86;
	color:#FFFFFF;
	border:none;
	font-size:0.8em;
	vertical-align:bottom;
}

.limit_to td {
	border-bottom:solid 1px #966C54;
}

div.auto_complete {
    width: 300px !important;
    font-size:.9em;
	text-align: left;
}

div.auto_complete ul {
	list-style-type:none;
}

div.auto_complete ul li {
	list-style-type:none;
	clear:both;
}

div.auto_complete ul li.selected { 
	background-color: #dcdcdc !important; 
}

div.auto_complete ul li img {
	clear:none;
	padding:0;
	margin:0;
	float:right;
	vertical-align: top;
}

div.auto_complete ul li .frequency {
	color: #858585;
	clear:none;
}
