.tag_sidebar {
	position: absolute;
	left: 20px;
	top: 200px;
	width: 200px;
	border: 1px solid black;
}

.tag_results {
	margin-left: 220px;
	margin-top: 10px;
}

#tag_explanation {
	background-color: #dddddd;
	margin-top: 1em;
}

.tag_minor_nav {
	position: absolute;
	right: 2em;
}

#all_tags_choice {
	position: absolute;
	left: 50%;
	width: 50em;
	margin-left: -25em;
	clear:both;
}

.sidebar_tag_link {
	
}

.sidebar_tag_link_selected {
	background-color: gray;
}

#tag_emph {
	font-weight: bold;
}

.cloud1 {
	font-size: 10px;
	line-height: 1.1em;
	margin-right: .3em;
}

.cloud2 {
	font-size: 12px; 
	line-height: 1.1em;
	margin-right: .3em;
}

.cloud3 {
	font-size: 14px;
	line-height: 1.1em;
	margin-right: .3em;
}

.cloud4 {
	font-size: 16px;
	line-height: 1.1em;
	margin-right: .3em;
}

.cloud5 {
	font-size: 18px;
	line-height: 1.1em;
	margin-right: .3em;
}

.cloud6 {
	font-size: 19px;
	line-height: 1.1em;
	margin-right: .3em;
}

.cloud7 {
	font-size: 20px;
	line-height: 1.1em;
	margin-right: .3em;
}

.cloud8 {
	font-size: 22px;
	line-height: 1.1em;  
	margin-right: .3em; 
}

.cloud9 {
	font-size: 24px;
	line-height: 1.1em;
	margin-right: .3em;
}

.cloud10 {
	font-size: 26px;
	line-height: 1.1em;
	margin-right: .3em;
}
