/*td {
	border: 1px dotted red;
}*/

.slider {
	border: 1px groove black;
	background-color: #dddddd;
	padding: .2em;
}

.slider-header {
	border: 1px solid black;
}

.slider-middle {
	width: 1em;
	text-align:center;
}

.slider-selected {
	color: white;
	background-color: white;
	border: 1px solid black;
}

.slider-selected a {
	color: white;
}

.results_layout {
	width: 100%;
}
.tag_filter {
	margin-top: 1.7em;
	margin-bottom: 1.7em;
}

.tagcloud {
	margin-left: 10em;
	margin-right: 10em;
	margin-bottom: 3em;
}

.tag_sidebar {
	border: 1px solid gray;
	vertical-align: top;
	width: 200px;
}

.tag_results {
	vertical-align: top;
}

#tag_explanation {
	background-color: #dddddd;
	margin-top: 1em;
}

.tag_minor_nav {
	text-align:right;
	font-size: 1.3em;
	line-height: 2em;
	
}

#all_tags_choice {
	position: absolute;
	left: 50%;
	width: 50em;
	margin-left: -25em;
	clear:both;
	font-size: 1.4em;
}

.sidebar_tag_link {
	margin-left: 1em;
	margin-right: 1em;
	font-size: 1.1em;
}

.sidebar_tag_link_selected {
	background-color: #eeeeee;
	margin-left: 1em;
	margin-right: 1em;
	font-style: italic;
	font-size: 1.1em;
}

#tag_emph {
	font-weight: bold;
}

.cloud1 {
	font-size: 1.4em;
	line-height: 1.2em;
	margin-right: .3em;
}

.cloud2 {
	font-size: 1.6em;
	line-height: 1.2em;
	margin-right: .3em;
}

.cloud3 {
	font-size: 1.8em;
	line-height: 1.2em;
	margin-right: .3em;
}

.cloud4 {
	font-size: 2em;
	line-height: 1.2em;
	margin-right: .3em;
}

.cloud5 {
	font-size: 2.2em;
	line-height: 1.2em;
	margin-right: .3em;
}

.cloud6 {
	font-size: 2.4em;
	line-height: 1.2em;
	margin-right: .3em;
}

.cloud7 {
	font-size: 2.6em;
	line-height: 1.2em;
	margin-right: .3em;
}

.cloud8 {
	font-size: 2.8em;
	line-height: 1.2em;  
	margin-right: .3em; 
}

.cloud9 {
	font-size: 3em;
	line-height: 1.2em;
	margin-right: .3em;
}

.cloud10 {
	font-size: 3.2em;
	line-height: 1.2em;
	margin-right: .3em;
}
