<%= error_messages_for 'tasks' %>

<!--[form:tasks]-->
<p><label for="tasks_archive_name">Archive name</label><br/>
<%= text_field 'tasks', 'archive_name'  %></p>

<p><label for="tasks_file_name">File name</label><br/>
<%= text_field 'tasks', 'file_name'  %></p>
<!--[eoform:tasks]-->

