<%= content_tag "h2", "Editing User Roles for Username #{@user.username}"%>

<p>
  Fullname: <%= content_tag "b", @user.fullname %>
</p>

<p>
  Email: <%= content_tag "b", @user.email %>
</p>

<%= start_form_tag :action => 'update', :id => @user %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'show', :id => @user %> |
<%= link_to 'All Users', :action => 'list' %>
