<%= content_tag "h2", "User Roles for Username #{@user.username}"%>

<p>
  Fullname: <%= content_tag "b", @user.fullname %>
</p>

<p>
  Email: <%= content_tag "b", @user.email %>
</p>

<p>
  Roles: <%= content_tag "b", @user.role_names.join(", ") %>
</p>

<%= link_to 'Edit', :action => 'edit', :id => @user %> |
<%= link_to 'All Users', :action => 'list' %>
