<%= link_to_remote('Share', :url => share_exhibit_path(@exhibit), 
                            :before => "$('exhibit-menu-spinner').show();",
                            :complete => "$('exhibit-menu-spinner').hide();") %>