<h1>Editing exhibit</h1>

<%= start_form_tag :action => 'update', :id => @exhibit %>
  <%= render_partial "form" %>
  <%= submit_tag "Edit" %>
<%= end_form_tag %>

<%= link_to 'Add page...', :action => 'add_page', :id => @exhibit %>

<ul>
   <% @exhibit.pages.each do |page| %>
     <li><%= link_to page.title, :controller => 'page', :action => 'edit', :id => page %></li>
   <% end %>
</ul>


<%= link_to 'Show', :action => 'show', :id => @exhibit %> |
<%= link_to 'Back', :action => 'list' %>
