<h1>Listing exhibits</h1>

<table>
  <tr>
  </tr>
  
<% for exhibit in @exhibits %>
  <tr>
    <td><%= link_to 'Show', exhibit_path(exhibit) %></td>
    <td><%= link_to 'Edit', edit_exhibit_path(exhibit) %></td>
    <td><%= link_to 'Destroy', exhibit_path(exhibit), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New exhibit', new_exhibit_path %>