<%= h2 "Exhibits" %>

<table>
  <tr>
  </tr>
  
<% for exhibit in @exhibits %>
  <tr>
    <%= td link_to(exhibit.title, exhibit_path(exhibit)) %>
    <%= td link_to('Edit', edit_exhibit_path(exhibit)) if exhibit.owner?(user) %>
    <%= td link_to('Destroy', exhibit_path(exhibit), :confirm => 'Are you sure?', :method => :delete) if exhibit.owner?(user) %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New exhibit', new_exhibit_path %>