<% current_page "Exhibits" -%>
<div class="exhibit_list">
<h2>Choose an exhibit to view</h2>
<table>
<% for exhibit in @exhibits -%>
<% owner = User.find(exhibit.user_id) -%>
	<tr>
		<td><%= render :partial => 'exhibit_thumbnail', :locals => { :exhibit => exhibit, :show_immediately => false } %></td>
		<td class="exhibit_link"><%= get_exhibit_link(exhibit) %>&nbsp;by
			<%= get_user_link(owner) %>
			<% if is_logged_in? && exhibit.user_id == User.find_by_username(session[:user][:username]).id -%>
				| <%= link_to("[Edit this exhibit]", { :controller => 'my9s', :action => 'edit_exhibit', :id => exhibit.id }, :class => 'nav_link' ) %>
			<% end -%>
		</td>
	</tr>
<% end -%>
</table>
</div>
