<% current_page "Exhibits" -%>
<div class="exhibit_list">
<h2>Choose an exhibit to view</h2>
<table>
<% for exhibit in @exhibits -%>
<% name = "#{exhibit.title} by #{User.find(exhibit.user_id).fullname}" -%>
	<tr>
		<td><%= render :partial => 'exhibit_thumbnail', :locals => { :exhibit => exhibit } %></td>
		<td class="exhibit_link"><a href="/exhibits/view/<%= exhibit.id %>"><%= exhibit.title %></a>&nbsp;by&nbsp;<%= User.find(exhibit.user_id).fullname %></td>
	</tr>
<% end -%>
</table>
</div>
