<% for column in Exhibit.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @exhibit.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @exhibit %> |
<%= link_to 'Back', :action => 'list' %>
