<div class="popup">
<div class="pagination" style="margin-bottom:1em"><span class="emph2">about the pilot project</span></div>
<p><span class="emph2">this site</span> represents a pilot implementation of <a href="http://www.nines.org" target="_blank">NINES</a> &mdash; a networked interface for nineteenth-century electronic scholarship &mdash; and <a href="http://www.patacriticism.org/collex" target="_blank">Collex</a>, a collections and exhibits tool for the remixable web.  It is both a proof of concept and a work in progress!

<p>Detailed descriptions of the NINES <a href="http://www.nines.org/about/9swhitepaper.pdf" target="_blank">federation and interface</a> and of <a href="http://www.nines.org/about/Nowviskie-Collex.pdf" target="_blank">Collex</a> are available, as is more information about <%= link_to "digital objects", { :action => "resources" }, :popup => ['window_resources', 'height=400,width=300,top=50,left=50'] %> in NINES.
</p>

<p>&nbsp;</p>

<p><span class="emph2">if you would like</span> to contribute freely-accessible online resources in nineteenth-century studies to the NINES pilot, please contact the relevant <a href="http://www.nines.org/contributors/boards.html" target="_blank">editors</a> at <a href="mailto:american@nines.org">american@nines.org</a>, <a href="mailto:romantic@nines.org">romantic@nines.org</a>, or <a href="mailto:victorian@nines.org">victorian@nines.org</a>.</p>

<p>Technical questions can be directed to <a href="mailto:technologies@nines.org">technologies@nines.org</a>.</p>
</div>
