<div class="popup">
<div class="pagination" style="margin-bottom:1em"><span class="emph2">NINES resources</span></div>
<p><span class="emph2">in essence,</span> NINES vets freely-available digital objects in nineteenth-century studies for scholarly integrity and aggregates metadata (or descriptive information) about them in a faceted search-and-browsing interface.  The objects themselves are accessible via links to the <a href="http://www.nines.org/about/9swhitepaper.pdf" target="_blank">federated</a> websites that have contributed them.</p>

<p><span class="emph2">objects</span> need not have a one-to-one relationship with web pages.  In other words, a single web page can contain many objects (just as a book of poetry contains many poems).  NINES contributors determine the level of object granularity appropriate to their material.  In this way, NINES embodies interpretive acts.  The sharing of semantic metadata about these objects makes it possible for NINES users to explore 19th-century online scholarship along many dimensions, as well as to produce personal annotated collections and exhibits using an integrated tool, <a href="http://www.patacriticism.org/collex" target="_blank">Collex</a>.  In this way, NINES enables interpretive acts!

<p><span class="emph2">learn more</span> about using NINES and Collex in this <a href="javascript:popUp('help')"" title="how to use Collex &amp; NINES ">brief tutorial</a>.</p>
</div>