<div class="popup">
<div class="pagination" style="margin-bottom:1em"><span class="emph2">NINES contributors</span></div>
<p><span class="emph2">scholarly projects</span> participating in NINES/Collex include:
<ul>
<% @sites.each do |site|%>
<li><a href="<%= site['url']%>" target="_blank"><%= site['description']%></a></li>
<% end %>
</ul>
</p>

<p>NINES resources are peer reviewed to ensure that they meet the highest standards for scholarly excellence.  Peer review is still in progress for the following sites, included in the February general release of NINES:  the Ambrose Bierce Project, the Charles Chesnutt Archive, and the Dickinson Virtual Reference Shelf.</p>

<p>Full text search through NINES is currently available for all projects except the Charles Chesnutt Archive and Romantic Circles. In addition, users may search for titles, names, genres, dates, and other basic information across <b>all</b> participating NINES sites.</p>

<p>In the coming months, we expect to integrate major contributions from <a href="http://www.jstor.org" target="_blank">JSTOR</a>, the <a href="http://www.whistler.arts.gla.ac.uk/correspondence/index.htm" target="_blank">Whistler Correspondence</a>, the journal <a href="http://www.19.bbk.ac.uk/" target="_blank">19</a>, the <a href="http://www.ncse.kcl.ac.uk/" target="_blank">Nineteenth-Century Serials Edition</a>, Virginia's <a href="http://www.upress.virginia.edu/browse/series/victorian.html" target="_blank">Victorian Literature and Culture Series</a>, and the <a href="http://www.letrs.indiana.edu/web/w/wright2/" target="_blank">Wright American Fiction Project</a>, as well as updated and expanded information from the <a href="http://www.emilydickinson.org" target="_blank">Dickinson Project</a>, <a href="http://www.rc.umd.edu/" target="_blank">Romantic Circles</a>, and <a href="http://www.ron.umontreal.ca/" target="_blank">Romanticism on the Net</a>.</p>
</div>
