<% #parameters: cloud_fragment_key, cloud_freq, bucket_size%>
<center>
  <div class="tag_filter">
	<form>&nbsp;<input id="sidebar_search" onFocus="this.value=''" type="text" value="filter tags"/>&nbsp;</form>
  </div>

<% cache_timeout(cloud_fragment_key,1.hour.from_now) do %>

<div id="sidebar-spinner" style="display:none;"></div>
<div class="content">

  <div class="tagcloud" id="tagcloud">
  	  <%= tag_cloud(cloud_freq, bucket_size) %>
  </div>
</div>

<% end #cache_timeout block %>

</center>