<% # 
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<%#cloud: parameters: cloud_info, selected_tag, controller_for_tags, bool hide_some (should only the first few tags be shown with an option to show all?) -%>
<center>
  <div class="tag_filter">
	<form onsubmit="return false;">&nbsp;<input id="sidebar_search" onFocus="if (this.value == 'filter tags') this.value = ''" type="text" value="filter tags"/>&nbsp;
    	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
	</form>
  </div>

<!-- < % cache_timeout(cloud_fragment_key,1.hour.from_now) do %>

<div id="sidebar-spinner" style="display:none;"></div>-->
<div class="content">

  <div class="tagcloud" id="tagcloud">
  	  <%= tag_cloud(cloud_info, selected_tag, controller_for_tags, hide_some) %>
  </div>
</div>
<%#end #cache_timeout block %>
</center>

<script type="text/javascript">
	// This turns on the filtering of the tag cloud
	// perform initialization after DOM loads
	Event.observe(window, 'load', function() {		
		sidebarTagCloud = new SidebarTagCloud( );
	});	
</script>
