<% #
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<%# parameters: starting_zoom -%>
<map name="zoom_map">
	<area shape="rect" href="#" alt="zoom in" coords="0,0,26,22" onclick="tagZoom.doZoom('+'); return false;" title="zoom in" />
	<area shape="rect" href="#" alt="zoom 10" coords="0,27,26,34" onclick="tagZoom.doZoom('10'); return false;" />
	<area shape="rect" href="#" alt="zoom 9" coords="0,35,26,42"  onclick="tagZoom.doZoom('9'); return false;" />
	<area shape="rect" href="#" alt="zoom 8" coords="0,43,26,50" onclick="tagZoom.doZoom('8'); return false;" />
	<area shape="rect" href="#" alt="zoom 7" coords="0,51,26,58" onclick="tagZoom.doZoom('7'); return false;" />
	<area shape="rect" href="#" alt="zoom 6" coords="0,59,26,66" onclick="tagZoom.doZoom('6'); return false;" />
	<area shape="rect" href="#" alt="zoom 5" coords="0,67,26,74" onclick="tagZoom.doZoom('5'); return false;" />
	<area shape="rect" href="#" alt="zoom 4" coords="0,75,26,82" onclick="tagZoom.doZoom('4'); return false;" />
	<area shape="rect" href="#" alt="zoom 3" coords="0,83,26,90" onclick="tagZoom.doZoom('3'); return false;" />
	<area shape="rect" href="#" alt="zoom 2" coords="0,91,26,98" onclick="tagZoom.doZoom('2'); return false;" />
	<area shape="rect" href="#" alt="zoom 1" coords="0,99,26,106" onclick="tagZoom.doZoom('1'); return false;" />
	<area shape="rect" href="#" alt="zoom out" coords="0,103,26,132" onclick="tagZoom.doZoom('-'); return false;"  title="zoom out" />
</map>
<div id="tag_zoom_scale" >
    <%= image_tag("zoom_scale.png", { usemap:"#zoom_map", border:"0", alt:"zoom"}) %>
</div>
<div id="tag_zoom_thumb" >
    <%= image_tag("zoom_thumb.png", { alt:"zoom thumb"}) %>
</div>

<script type="text/javascript">
	var zoom_level = <%= starting_zoom %>;

	// perform initialization after DOM loads
	Event.observe(window, 'load', function() {
		tagZoom.doZoom("" + zoom_level);
	});
	
	document.onmousedown = tagZoom.zoomThumbMouseDown;
	document.onmouseup = tagZoom.zoomThumbMouseUp;
</script>
