<%
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
	
<% # parameters: starting_zoom -%>
<map name="zoom_map">
	<area shape="rect" href="#" coords="0,0,26,22" onclick="doZoom('+');"" title="zoom in" />
	<area shape="rect" href="#" coords="0,27,26,34" onclick="doZoom('10');" />
	<area shape="rect" href="#" coords="0,35,26,42"  onclick="doZoom('9');" />
	<area shape="rect" href="#" coords="0,43,26,50" onclick="doZoom('8');" />
	<area shape="rect" href="#" coords="0,51,26,58" onclick="doZoom('7');" />
	<area shape="rect" href="#" coords="0,59,26,66" onclick="doZoom('6');" />
	<area shape="rect" href="#" coords="0,67,26,74" onclick="doZoom('5');" />
	<area shape="rect" href="#" coords="0,75,26,82" onclick="doZoom('4');" />
	<area shape="rect" href="#" coords="0,83,26,90" onclick="doZoom('3');" />
	<area shape="rect" href="#" coords="0,91,26,98" onclick="doZoom('2');" />
	<area shape="rect" href="#" coords="0,99,26,106" onclick="doZoom('1');" />
	<area shape="rect" href="#" coords="0,103,26,132" onclick="doZoom('-');"  title="zoom out" />
</map>
<div id="tag_zoom_scale" >
	<img src="/images/zoom_scale.png" usemap="#zoom_map" border="0" />
</div>
<div id="tag_zoom_thumb" >
	<img src="/images/zoom_thumb.png" />
</div>

<script type="text/javascript">
	var zoom_level = <%= starting_zoom %>;

	// perform initialization after DOM loads
	Event.observe(window, 'load', function() {
		doZoom("" + zoom_level);
	});
	
	document.onmousedown = ZoomThumbMouseDown;
	document.onmouseup = ZoomThumbMouseUp; 
</script>
