<% if @hit == nil -%>
Tagged object not found.
<% else -%>
<table>
	<tr>
		<td>
			Resource:
		</td>
		<td>
			<a href="<%= @hit["url"] %>"><%= @hit["url"] %></a>
		</td>
	</tr>
	<%= render :partial => '/results/hit_body', :locals => { :hit => @hit, :row_id => 'row', :index => -1, :no_links => true } %>
</table>
<% end -%>
