<% # 
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<%# group_discussions_list : parameters: ActiveRecord group, int user_id -%>
<div class="right_column_header">Discussions</div>
<% threads = DiscussionThread.find_all_by_group_id(group.id) -%>
	<ul class="group_discussions">
<% if !group.can_read_forum(user_id) -%>
	<div class="empty_list_text" >You must be a member of this group to see its discussions.</div>
<% else -%>
	<% if threads.length == 0 -%>
			<div class="empty_list_text" >There have been no discussions started in this group.</div>
		<% else -%>
		<% for thread in threads -%>
			<li><%= link_to(thread.get_title(), { :controller => 'forum', :action => 'view_thread', :thread => thread.id }, :class => 'nav_link') %></li>
		<% end -%>
	<% end -%>
	<%= link_to_function("[ New Post ]", "new GroupNewPost('#{PROGRESS_SPINNER_PATH}',#{group.id}, '#{group.name}',  #{is_logged_in?}); return false;", :class => "nav_link" ) if group.can_post(user_id) %>
<% end -%>
	</ul>
