<%# partial line_instructions -- no parameters %>
<div class="tw_edit_instructions">
	<div id="tw_debugging_table"></div>
	<div class="tw_legend">
		<table>
			<caption>Keyboard Shortcuts</caption>
			<tr><th>Key</th><th>Action</th></tr>
			<tr><td>Ctrl+Delete</td><td>Delete the line</td></tr>
			<tr><td>Ctrl+Enter</td><td>Assert the line is correct</td></tr>
			<tr><td>Ctrl+Y</td><td>Undo/Redo</td></tr>
			<tr><td>Ctrl+I</td><td>Insert line above</td></tr>
			<tr><td>Ctrl+Shift+H</td><td>Find and replace</td></tr>
			<tr><td>Ctrl+Shift+I</td><td>Insert line below</td></tr>
			<tr><td>Down Arrow</td><td>Go down one line</td></tr>
			<tr><td>End</td><td>Move cursor to end of line</td></tr>
			<tr><td>Enter</td><td>Go down one line</td></tr>
			<tr><td>Home</td><td>Move cursor to beginning of line</td></tr>
			<tr><td>Page Down</td><td>Go down three lines</td></tr>
			<tr><td>Page Up</td><td>Go up three lines</td></tr>
			<tr><td>Up Arrow</td><td>Go up one line</td></tr>
		</table>
		<div class="tw_legend_bottom">&nbsp;</div>
	</div>
	<div class="tw_spelling_choice">In this document the original spelling should be retained.</div>
	<div class="tw_header">Instructions:</div>
	If a word or portion of a word is illegible, type "@" in its place.<br />
	Click on the thumbnail to jump around the page.<br /><br />
	<%= link_to_function "More information about how to edit", "", { :class => 'nav_link', :id => 'tw_detailed_instructions', 'data-url' => '/typewright/documents/instructions' } %>
</div>