<div class='tw_edit_instructions_popup'>
<p>There are three main areas of the TypeWright Interface:</p>

<%= image_tag "type_wright/tool_overview_diagram1.png" %>

<p>The Thumbnail (A) shows you where you are in the document and allows you to move around by clicking on places in it.
The Main Image (B) shows you a full-sized image of the portion of the page that you are correcting.
The Lines of Text (C) is the area where you will be working to type in corrections.</p>

<p>And now to go into a little more detail:</p>

<%= image_tag "type_wright/tool_overview_diagram2.png" %>

<p>One can move around the document in numerous ways, by clicking on places in the Thumbnail (A), moving the Main Image (B) up and down,
or moving through the Lines of Text (C), using the arrows to Move around (D) or, if your cursor is in the Text Correction Box (E), by simply using the
up and down arrows or up and down page keys on your computer’s keyboard.  One can Insert Lines (F) above or below or Delete Lines (G).  You can see
the image of the Line you are currently editing (H) in the page image.  If the transcription is too flawed, you can clear the line (Ctrl-Delete) and simply retype.
As you move to the next line or leave the page, your work is automatically saved.  A pencil sign indicates that you have edited a line, or that it has been edited,</p>

<%= image_tag "type_wright/tool_overview_line_screenshot.jpg" %>

<p>and an undo or re-do button appears to the right of the delete button
once you have made changes.  Keystroke shortcuts (H) enable working faster once you are habituated to the tool.</p>

  <p class="tw_tutorial_link">
	<a href="/about/typewright/#video" target="_blank" class="ext_link">Tutorial Video</a>
  </p>
</div>