<p>
  <b>Topic:</b>
  <%=h @discussion_thread.topic_id %>
</p>

<p>
  <b>Title:</b>
  <%=h @discussion_thread.title %>
</p>


<%= link_to 'Edit', edit_discussion_thread_path(@discussion_thread) %> |
<%= link_to 'Back', discussion_threads_path %>
