<% # 
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<%# featured_exhibit param: none -%>
<div id="exhibit_container">
	<div id="exhibit_left"></div>
	<div id="exhibit_right"></div>
	<div id="exhibit_text">
		<p><a href="/exhibits/Lettere_A_Colori" class="nav_link"><span class="exhibit_title">Lettere A Colori: Descrizioni di dipinti nella corrispondenza di Dante Gabriel Rossetti</span></a> <br />by Federica Mazzara</p>
		<p>In many letters sent to his parents and friends, Dante Gabriel Rossetti (1828-1882) included verbal translations, or descriptions of paintings - properly known as <i>ekphraseis</i> - as a way to explore and express more fully his own thoughts on art and aesthetics. A study of this correspondence allows a glimpse into not only the creative process, but also the most deeply held and intimate fantasies of an artist known for his complex inner life. (<i>A note to readers: essay is in Italian.</i>)</p>
		<a href="/exhibits/Lettere_A_Colori" class="nav_link">View Exhibit</a></p></div>
	<div class="clear_both"></div>
</div>
