<%
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<% # featured_exhibit param: none -%>
<div id="exhibit_container">
	<div id="exhibit_left"></div>
	<div id="exhibit_right"></div>
	<div id="exhibit_text">
		<p><a target="_blank" href="/exhibits/rossettibio" class="nav_link"><span class="exhibit_title">An Introduction to D.G. Rossetti</span></a> <br>by Jerome J. McGann</p>
		<p>Dante Gabriel Rossetti was born in London on 12 May 1828 and he died
		on Easter Day, 9 April 1882. He spent nearly his entire working life in
		the city of his birth, and indeed he only left Great Britain three
		times, in each case but the first quite briefly. Though his work is
		steeped in Italian traditions (both poetical and pictorial), Rossetti
		never visited Italy. He is first and always an English - more, a
		London - writer and artist.
		<a target="_blank" href="/exhibits/rossettibio" class="nav_link">View Exhibit</a></p></div>
	<div class="clear_both"></div>
</div>
