<%#
# ------------------------------------------------------------------------
#     Copyright 2009 Applied Research in Patacriticism and the University of Virginia
# 
#     Licensed under the Apache License, Version 2.0 (the "License");
#     you may not use this file except in compliance with the License.
#     You may obtain a copy of the License at
# 
#         http://www.apache.org/licenses/LICENSE-2.0
# 
#     Unless required by applicable law or agreed to in writing, software
#     distributed under the License is distributed on an "AS IS" BASIS,
#     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#     See the License for the specific language governing permissions and
#     limitations under the License.
# ----------------------------------------------------------------------------
%>
<%# popular_discussions param: array discussions, bool show_more -%>
<ul>
	<% if discussions -%>
	<% discussions.each {|discussion| -%>
	<li><%= link_to(discussion[:title], "/forum/view_thread?thread=#{discussion[:id]}", { :class => 'nav_link' }) %></li>
	<% } -%>
	<% if show_more -%>
	<li><%= link_to("MORE", forum_path, { :class => 'nav_link' }) %></li>
	<% end -%>
	<% end -%>
</ul>
