<% current_page "News" -%>

<div id="installation-instructions">
	<h2>NINES News Installation</h2>
		
	<p>NINES News is powered by Wordpress which is integrated with the Ruby on Rails application via Apache mod_rewrite. In order to integrate Wordpress, you must first set up an Apache mod_rewrite rule which will route requests to either Apache for Wordpress URLs or Mongrel for Collex URLs.</p> 

<h3>System Dependencies</h3>

<p>This integration strategy requires that web traffic be served by an Apache 2 server with mod_rewrite and mod_php (version 5) installed.</p>

<h3>Step One: Install Wordpress</h3>

<p>You can obtain the latest version of Wordpress <a href="http://wordpress.org/download/">here</a>. These instructions were written using Wordpress 2.6.5. Install Wordpress in RAILS_ROOT/public/wp. Configure it as per the instructions distributed with Wordpress.</p> 
	
<h3>Step Two: Modify Apache Config</h3>
<p>Once Wordpress is working, apply the Apache rewrite rules. Here's a sample virtual host entry that does the trick. Please modify the server name and paths to suit your environment:</p>

<blockquote>
	&lt;VirtualHost *:80&gt;<br/>
	ServerName myserver.com<br/>
	DocumentRoot /path/to/public/wp<br/><br/>

	&lt;Directory &quot;/path/to/public/wp&quot;&gt;<br/>
	Options FollowSymLinks<br/>
	AllowOverride None <br/>
	Order allow,deny<br/>
	Allow from all<br/>
	&lt;/Directory&gt;<br/><br/>

	RewriteEngine On<br/>

	RewriteCond %{REQUEST_FILENAME} !-f<br/>
	RewriteCond %{REQUEST_FILENAME} !-d<br/>

	RewriteRule ^/news$ /wp/index.php [QSA]<br/>
	RewriteRule ^(/news.*/$)$ $1/index.php [QSA]<br/>
	RewriteRule ^/news/?(.*)$ %{DOCUMENT_ROOT}/wp/$1 [NC,QSA,L]<br/><br/>

	# Redirect all non-static requests to a single mongrel instance.<br/>
	RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_FILENAME} !-f<br/><br/>

	# Note: You will want to use load balancer and mongrel pack for production systems.<br/>
	RewriteRule ^/(.*)$ http://localhost:3000%{REQUEST_URI} [P,QSA,L]<br/>

	&lt;/VirtualHost&gt;<br/>
</blockquote>

<div class="instructions-note"><p><b>NOTE: Once these rules are in place, this page of instructions will be replaced with Wordpress. You can still access this page of instructions <a href="/home/news/">here</a>. Please follow this link, bookmark the instructions and continue.</b></p></div>

<h3>Step Three: Activate Wordpress</h3>

<p>You can now activate the installed copy of Wordpress, which should replace these instructions when you refresh your browser. Please make note of the admin password and log into the Wordpress control panel.</p>

<h3>Step Four: Install NINES Theme</h3>
	<p>The style for NINES Collex is provided as a starting point. To use it, run the following rake task in the RAILS_ROOT folder of the Collex installation:</p>

	<blockquote>rake collex:install_nines_theme</blockquote>
	
	<p>Now, in the Wordpress control panel, you can select "Design" and then select to install the "NINES" theme. Return to the <a href="/news">News Page</a> to inspect the results. Wordpress should now match the look and feel of the site and be integrated into the site navigation frame.</p>
	
<h3>Step Five: Create Uploads Directory</h3>

	<p>In order for news writers to be able to upload media assets and to import the initial set of posts to the blog, you should make the following directory read/writable by Apache: RAILS_ROOT/public/wp/wp-content/uploads. Take care not to be too expansive with the permissions as that can be a common security issue. It should only be readable and writable by Apache.</p>
	
<h3>Step Six: XML Import of Initial Posts</h3>

<p>Finally, in the Wordpress control panel, go to Manage->Import->Wordpress and import the XML file of initial posts provided by NINES Staff.</p>

</div>