<%=link_to "Add new value", :action => :add_value, :tree => @facet_tree.value %>
<%=link_to "Add new category", :action =>:add_category, :tree => @facet_tree.value%>
<%= render :partial => 'categories', :locals => {:categories => @facet_tree.children, :tree => @facet_tree.value } %>
