<% #
# ------------------------------------------------------------------------
#     Copyright 2009 Applied Research in Patacriticism and the University of Virginia
#
#     Licensed under the Apache License, Version 2.0 (the "License");
#     you may not use this file except in compliance with the License.
#     You may obtain a copy of the License at
#
#         http://www.apache.org/licenses/LICENSE-2.0
#
#     Unless required by applicable law or agreed to in writing, software
#     distributed under the License is distributed on an "AS IS" BASIS,
#     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#     See the License for the specific language governing permissions and
#     limitations under the License.
# ----------------------------------------------------------------------------
%>
<%# thumbnail_image params: (hash hit) -%>
<div class="search_result_image"><%= thumbnail_image_tag(hit) %>
	<% if hit['freeculture'] == 'true' || hit['has_full_text'] == 'true'  || hit['source_xml'] != nil -%>
		<div class="result_row_icons">
	<% if hit['freeculture'] == 'true' -%>
		<span class="tooltip free_culture">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="result_row_tooltip">Free Culture resource</span></span>
	<% end -%>
	<% if hit['has_full_text'] == 'true' -%>
		<span class="tooltip full_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="result_row_tooltip">Full text provided for this document</span></span>
	<% end -%>
	<% if hit['source_xml'] != nil -%>
		<span class="tooltip has_xml_source">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="result_row_tooltip">XML source available for this document</span></span>
	<% end -%>
          <% if COLLEX_PLUGINS['typewright'] && !hit['typewright'].blank? -%>
              <span class="tooltip can_typewright" data-uri="<%= hit['uri'] %>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="result_row_tooltip">This document can be corrected using TypeWright</span></span>
          <% end -%>
		</div>
	<% end -%>
</div>
