<h1>New exhibited_resource</h1>

<%= error_messages_for :exhibited_resource %>

<% form_for(:exhibited_resource, :url => exhibited_resources_path) do |f| %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', exhibited_resources_path %>