<%= error_messages_for 'title' %>

<!--[form:title]-->
<p><label for="title_title">Title</label><br/>
<%= text_field 'title', 'title'  %></p>

<p><label for="title_link">Link</label><br/>
<%= text_field 'title', 'link'  %></p>

<p><label for="title_date_time">Date time</label><br/>
<%= datetime_select 'title', 'date_time'  %></p>

<p><label for="title_approve">Approve</label><br/>
<%= text_field 'title', 'approve'  %></p>
<!--[eoform:title]-->

