<html>
  <head>
     <title>Collect Objects into NINES</title>
        <%= stylesheet_link_tag "new9s", :media => "all" %>
        <%= stylesheet_link_tag "newcollex", :media => "all" %>
     <script type="text/javascript">
       var instructions = new Array();
       instructions['tags'] = '<%= TAG_INSTRUCTIONS %>';
       instructions['notes'] = '<%= ANNOTATION_INSTRUCTIONS %>';

       function defaultInstructions(t) {
	     var key = t.name.split('-',1)[0];
	     return instructions[key];
       }
       function clearInstructions(t) {
          if (t.value == defaultInstructions(t)) {t.value = '';}
       }

       function addInstructions(t) {
          if (t.value == "") {
            //t.value = defaultInstructions(t);
            toggleItem(t);
         }
       }

       function toggleItem(t) {
          $('row-'+t.id.substring(5)).className = (t.value == defaultInstructions(t) || t.value == "") ? 'disabled' : 'enabled';
       }
       
       var submitted = false;
       var tagged = false;
       function check_submit(button) {
           /* loop over each input element (text type) in the form checking
            * for at least one tagged object
            */
           var elements = document.forms['collectform'].elements;
           for (var i = 0; i < elements.length; i++)
           {
             if (elements[i].type == "text" &&
                 elements[i].value != "<%= TAG_INSTRUCTIONS %>")
             {
               tagged = true
               break;
             }
           }
           
           if (!tagged) {
             window.alert("Please enter a tag for at least one object.");
             return false;
           }

           if (!submitted && tagged) {
               submitted = true;
               document.forms['collectform'].submit();
               button.style.color = "#fff";
               button.style.background = "#A60000";
           }
       }
       
     function popUp(URL) {
       day = new Date();
       id = day.getTime();
       eval("page" + id + " = window.open(URL, '" + id + "', 'toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=1,width=300,height=400');");
     }
     
     function addToTags(uri, tag) {
       tagField = $('tags-' + uri)
       clearInstructions(tagField);
       tagField.value = tagField.value + (tagField.value == '' ? '' : ' ') + tag;
       toggleItem(tagField);
       tagField.focus();
     }
     
     </script>
     <script src="/javascripts/prototype.js" type="text/javascript"></script>

    </head>
  <body style="width:100%">
    <div id="main">
        <div id="box">

            <% if @results.size == 0 %>
              <p style="padding:.4em;">Sorry, no NINES peer reviewed objects found for this page.</p>
            <% else %>


        <%=start_form_tag({:action => "add"}, {:name => 'collectform'}) -%>
        <table id="items" cellspacing="0">

        <tr class="nav">
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>
        <span class="button" style="float:right;margin-bottom:2px"><%= link_to_function "COLLECT", "check_submit(this);" -%></span> <span class="button" style="float:right;margin-right:5px;margin-bottom:2px"><%= link_to_popup "?", {:controller => 'nines', :action => 'help'}%></span> <br />
        </td>
        </tr> 
        <% @results.each do |result| %>
            <tr id="row-<%=result['uri']%>" class="<%= result['tag'] ? 'enabled' : 'disabled'%>">
              <%= td thumbnail_image_tag(result) %>
              <td class="bentry">
                <span class="title"><%= h result["title"] %></span><br/>
                <span class="bfacet">source:</span>
                <%= site(result['archive']) ? site(result['archive'])['description'] : result['archive'] %><br/>
                <span class="bfacet">genres:</span> <%= comma_separate(result['genre'])%> <br/>
                <span class="bfacet">agents:</span> <%= comma_separate(result['agent'])%> <br/>
                <span class="bfacet">dates:</span> <%= comma_separate(result['date_label'])%> 
              </td>
              <td>
                 <input type="text" id="tags-<%=result['uri']%>" name="tags-<%=result['uri']%>" onkeydown="toggleItem(this);" 
                        onfocus="clearInstructions(this);" onkeyup="addInstructions(this);" onblur="addInstructions(this);"  value="<%=result['tag'] ? result['tag'].join(' ') : TAG_INSTRUCTIONS %>"/><br/>
                 <% if result['all_tags'].size > 0 %>
                   <div class="popular">popular keywords:<br/>
                   <% result['all_tags'].each do |t| %>
                     <%=link_to_function t, "addToTags('#{result['uri']}', '#{h t}');" %>
                   <% end %>
                   </div>
                 <% end %>

                 <textarea cols="17" rows="4" id="notes-<%=result['uri']%>" name="notes-<%=result['uri']%>" onkeydown="toggleItem(this);" 
                        onfocus="clearInstructions(this);" onkeyup="addInstructions(this);" onblur="addInstructions(this);"><%=result['annotation'] ? result['annotation'] : ANNOTATION_INSTRUCTIONS -%></textarea><br/><br/>
              </td>
            </tr>
            <% end %>
        <tr class="nav">
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>
            <span class="button" style="float:right;margin-bottom:2px"><%= link_to_function "COLLECT", "check_submit(this);" -%></span> <span class="button" style="float:right;margin-right:5px;margin-bottom:2px"><%= link_to_popup "?", {:controller => 'nines', :action => 'help'}%></span> <br />
        </td> 
        </tr>
        </table>
        <%=end_form_tag%>

        <% end %>

        </div>
        
    </div>
  </body>
</html>
