<% #
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0

    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>

<div class="my_collex_instructions">
	<%= image_tag(GENERIC_USER_IMAGE_PATH, { alt: 'Generic user'}) %>
	<h2>You are not logged in.</h2>
	<p><%= sign_in_link({ :class => 'nav_link', :text => 'Log in' }) %> or <%= sign_up_link({ :class => 'nav_link', :text => 'create an account' }) %> to collect and tag items, save and share searches, create exhibits, and set up your profile.</p>
    <%= image_tag("#{SKIN}/join_my_collex.gif", { alt: 'explanation of benefits'}) %>
	<div class="clear_both"></div>
</div>
