<% # 
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<%# my_discussions_list : parameters: user_id -%>
<div class="right_column_header">My Discussions</div>
<% my_comments = DiscussionComment.where({user_id: user_id}) -%>
<% my_threads = {} -%>
<% my_comments.each { |comment| -%>
	<% my_threads[comment.discussion_thread_id] = true -%>
<% } -%>
<% if my_threads.length == 0 -%>
	<div class="empty_list_text" >You have not started or joined any discussions</div>
<% else -%>
	<ul class="my_discussions">
		<% for thread_id in my_threads -%>
			<% thread = DiscussionThread.find_by_id(thread_id[0]) -%>
			<% if thread != nil # this should always be true, but if the database gets a little corrupted, but don't want to crash -%>
				<li><%= link_to(thread.get_title(), { :controller => 'forum', :action => 'view_thread', :thread => thread_id[0] }, :class => 'nav_link') %>&nbsp;<%= image_tag("#{SKIN}/notice_thumb.gif", :height => '16', :alt => 'Recent Activity') if !DiscussionVisit.user_has_seen_all_comments(user_id, thread) %></li>
			<% end -%>
		<% end -%>
	</ul>
<% end -%>
