<div id="tw_user_filter_controls">
   <form class='filter' action="/typewright/overviews">
     <input type="hidden" name="view" value="users" /> 
     <label for="filter">User / Title: </label>
     <input name="filter" id="tw_filter" type="text" placeholder="filter" value="<%= @filter %>" />
     <button type="submit">Filter</button>
   </form>
</div>