body.federation-gla.pg-community {

   .shared_header {
   	color:white;
   	background:#0d2150;
   	font-size: 0.9em;
   }
   
   .shared_left_column {
      width: 69.5%;
      .shared_header {
         border: 1px solid #0d2150;
      }
   }
   
   .publications_image {
   	border: 4px solid gray;
   }

}