<% current_page "About" -%>

<div class="tag_minor_nav"> 
<a href="../tab_about" class="here">what is 9s?</a>&nbsp;|&nbsp;<a href="../scholarship/index.html"> scholarship</a>&nbsp;|&nbsp;<a
	href="../software/index.html">software</a>&nbsp;|&nbsp;<a

	href="../community/index.html">community</a><span> | </span>&nbsp;<br>
</div>


<div id="aboutContent">
	<div id="aboutScholarly" class="about-banner-column" >
		<a href="scholarship/peerReview.html" alt="peer review"><img src="/images/rubber_stamp2.jpg"></img></a>
		<p><span>NINES</span> provides an integrated <span><a href="scholarship/index.html" class="normal">publishing environment</a</span> for aggregated, <span><a href="scholarship/boards.html" class="normal">peer-reviewed</a></span> online scholarship centered in nineteenth-century studies, <span><a href="scholarship/scholarlyProjects.html" class="normal">British and American</a></span>.</p>
	</div>		

	<div id="aboutTechnical" class="about-banner-column">
		<a href="software/index.html" alt="tools"><img src="/images/wrench2.jpg"></img></a>
		<p>Learn more about the <a href="software/index.html"><span>suite of tools</span></a> NINES offers to facilitate the creation and interpretation of <a href="scholarship/scholarlyProjects.html"><span>scholarly work online</span></a>. Explore <a href="http://collex.org" target="_blank"><span>Collex</span></a>, <a href="http://juxtasoftware.org" target="_blank"><span>Juxta</span></a>, <span>Ivanhoe</span> and more.</p>		
	</div>

	<div id="aboutOutreach" class="about-banner-column">
		<a href="community/outreach.html"><img src="/images/handshake.jpg"></img></a>
		<p>From <a href="community/workshop.html"><span>Summer workshops</span></a> to <a href="community/outreach.html#fellows"><span>graduate fellowships</span></a>, NINES is committed to supporting new projects and promoting <a href="scholarship/peerReview.html"><span>best practices</span></a> for sustainable digital scholarship.</p>
	</div>		
	
</div>

	
<div id="innerContent">
	<p class="header">&nbsp;<img src="/images/whatis9s.jpg"></img>&nbsp;</p>

	<p><strong>NINES</strong> is a scholarly organization devoted to forging links between the material archive of the nineteenth century and the digital research environment of the twenty-first.

	Our activities are driven by three primary goals:
	<ul>
	<li>to serve as a <a href="scholarship/peerReview.html">peer-reviewing body</a> for digital work in the long 19th-century (1770-1920), British and American;</li>
	<li>to support scholars’ priorities and best practices in the creation of digital research materials;</li>
	<li>to develop <a href="software/index.html">software tools</a> for new and traditional forms of research and critical analysis.</li></ul></p>
	<p>The NINES <a href="../search">Collex interface</a> is at the center of these efforts. It aims to gather the best scholarly resources in the field and make them fully searchable and interoperable; and to provide an online collecting and authoring space in which researchers can create and publish their own work.</p>

	<p><strong>NINES</strong> also is home to <a href="http://juxtasoftware.org" target="_blank">Juxta</a>, a tool for comparing and collating multiple documentary instances of the same work; and to <a href="http://ivanhoegame.org" target="_blank">Ivanhoe</a>, a collaborative game-space for interpreting textual and other cultural materials. Other interpretive tools and applications are in the planning stages.<p/>

	<div class="grayBox"><img src="../images/right_arrow.jpg" align="left"></img><p>Each summer, <strong>NINES</strong> hosts a series of <a href="community/workshop.html">workshops</a> to assist scholars in their development of digital research projects in nineteenth-century studies. Our goal is to encourage attention to <a href="scholarship/peerReview.html">data structure</a>, <a href="../scholarship/rdf.html">interoperability</a>, and <a href="scholarship/rdf.html#sustainability">sustainability</a> as these projects go forward.
	</p>
</div>
