<% current_page "About" -%>

<div id="aboutContent">
	<div id="aboutScholarly" class="about-banner-column" >
		<img src="/images/rubber_stamp2.jpg"></img>
		<p><span>Learn more</span> about NINES as an integrated <span>publishing environment</span> for aggregated, peer-reviewed online scholarship centered in nineteenth-century studies, <span>British and American</span>.</p>
	</div>		

	<div id="aboutTechnical" class="about-banner-column">
		<img src="/images/wrench2.jpg"></img>
		<p><span>NINES</span> is actively engaged in the development of a <span>suite of tools</span> meant to facilitate the creation of and interpretation of scholarly work online. Explore <span>Collex</span>, <span>Juxta</span>, <span>Ivanhoe</span> and more.</p>		
	</div>

	<div id="aboutOutreach" class="about-banner-column">
		<img src="/images/handshake.jpg"></img>
		<p><span>Summer Workshops</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<span>NINES Fellows</span> Excepteur sint occaecat cupidatat non proident.</p>
	</div>		
	
</div>
	
<div id="innerContent">
	<p>More content.</p>
</div>