<% #
    # ------------------------------------------------------------------------
    # Copyright 2011 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0

    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<%# group_documents : parameters: none -%>
<%# "#{}" docs = [ { :title => 'Sample', :uri => 'lib://ECCO/sample' }] %>
<!-- <div class="group_details_label">TypeWright: (<%# = docs.length %>)</div>
	<%# docs.each {|doc| %>
	<div class="thumbnail_item">
	<div class="left_thumbnail">
		<div style="overflow: hidden; width: 50px; height: 50px;" class="exhibit_thumbnail"><img width="51" alt="" style="margin-top: 0px; margin-left: 0px;" src="/images/nines/sm_site_image.gif" id="thumbnail_411"></div>
	</div>
	<div class="right_of_thumbnail exhibit_link">
		<div class="search_result_buttons">
			<a onclick="new StartDiscussionWithExhibit('/forum/get_all_topics', '/forum/post_object_to_new_thread', '411', '<%# = doc[:title] %>', 'discuss_411', true, '/forum/get_nines_obj_list', '/images/ajax_loader.gif', 23, null); return false;" id="discuss_411">Discuss</a>
		</div>
		<a href="/typewright/edit?uri=<%#= doc[:uri] %>" class="nav_link"><%# = doc[:title] %></a>
	</div>
</div>
<%# } %> -->
