<% #
    # ------------------------------------------------------------------------
    # Copyright 2011 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0

    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<%# my_documents : parameters: array document_list -%>

<% if document_list.length == 0 %>
<div class="empty_list_text" >You have not started editing any documents</div>
<% else %>
	<div class="side-container">
	<% for document in document_list -%>
		<div class="side_bar_exhibit_thumbnail"><img height="50" src="<%= document[:thumbnail] %>" alt="document thumbnail" /></div>
		<div class="side_bar_exhibit_text exhibit_link"><%= link_to tw_abbrev(document[:title]), tw_create_show_url(document[:uri]), { :class => 'nav_link', :title => document[:title] } %>&nbsp;
			<% confirm = "confirm: { title: 'Remove Editing Document', message: 'Are you sure you wish to remove this document from your editing list?' }" %>
			<% progress = "progress: { waitMessage: 'Removing Document From Your Editing List' }" %>
			<% action = "action: { actions: '/typewright/document_users/#{document[:id]}', els: 'typewright', params: { _method: 'DELETE' } }" %>
			<%= link_to_function "[remove]", "serverAction({ #{action}, #{progress}, #{confirm} })", :class => 'nav_link' %>
		</div>
		<div class="side_bar_exhibit_spacer clear_both"></div>
	<% end -%>
	</div>
<% end %>
