<% #
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0

    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<% current_page "admin" -%>
<% current_sub_page "Exhibits" -%>
<div class="inner_content_container">
	<%= link_to_function("Add Badge", "new AddBadgeDlg('/admin/default/add_badge');", :class => 'nav_link' ) %>
	<script type="text/javascript">
		var badges = <%= PeerReview.get_list().to_json() %>;
		badges.unshift({value: 0, text: "&lt;none&gt;"});
	</script>
	<div class="page_header">Exhibits Categories</div>
	<table class="exhibit_category">
		<tr>
			<th>Exhibit</th>
			<th>Author</th>
			<th>Published?</th>
			<th>Category</th>
			<th>Badge</th>
		</tr>
		<% exhibits = Exhibit.find_all_by_group_id(nil, { :order => 'title' }) -%>
		<% for exhibit in exhibits -%>
			<tr id="<%= "exhibit_#{exhibit.id}" %>">
				<%= render :partial => 'exhibit_tr', :locals => { :exhibit => exhibit } %>
			</tr>
		<% end -%>
	</table>
</div>
