<%= p "Welcome to the 'admin' area of Collex!"  %>

<%= p "From here, you can make adjustments to user roles, Creative Commons licenses, the hierarchies or 'trees' that control how facets display, and to the appearance (descriptions, default thumbnails, etc.) of contributing projects in Collex." %>