<% current_page "admin" -%>
<% current_sub_page "Statistics" -%>
<h1>NINES Statistics</h1>
<% lines = get_user_login_info() -%>
<% str = "" -%>
<% lines.each {|line| str += line + "<br />" } -%>
<table>
	<tr>
		<td>Total Users:</td>
		<td><%= User.count() %></td>
	</tr>
	<tr>
		<td>Total Objects:</td>
		<td><%= number_with_delimiter(session[:num_docs]) %></td>
	</tr>
	<tr>
		<td valign='top'>All available login info:</td>
		<td><%= str %></td>
	</tr>
</table>
