<% #
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0

    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<% current_page "admin" -%>
<% current_sub_page "User Content" -%>
<div class="inner_content_container">
	<div class="page_header">User Content Reindexing Log</div>
	<table class="exhibit_category">
		<tr>
			<th>Date</th>
			<th>Duration (secs)</th>
			<th>Object</th>
			<th>Number of Objects</th>
		</tr>
		<% recs = SearchUserContent.order('id DESC').limit(20) -%>
		<% for rec in recs -%>
			<tr>
				<td><%= comment_time_format(rec.last_indexed) %></td>
				<td><%= rec.seconds_spent_indexing %></td>
				<td><%= rec.obj_type %></td>
				<td><%= rec.objects_indexed %></td>
			</tr>
		<% end -%>
		<tr><td>etc...</td></tr>
	</table>
</div>
