<%= error_messages_for 'site' %>

<!--[form:site]-->
<p><label for="site_code">Code</label><br/>
<%= text_field 'site', 'code'  %></p>

<p><label for="site_url">Url</label><br/>
<%= text_field 'site', 'url'  %></p>

<p><label for="site_description">Description</label><br/>
<%= text_field 'site', 'description'  %></p>

<p><label for="site_thumbnail">Thumbnail</label><br/>
<%= text_field 'site', 'thumbnail'  %></p>
<!--[eoform:site]-->

