<% for column in Site.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @site.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @site %> |
<%= link_to 'Back', :action => 'list' %>
