$background: #ffffff;
$regular-text: #222222;
$border: #393635;

$tab-background: #222222;
$button-background: #222222;
$button-hover: #8a5464;
$selected-background: #1D6935;
$tab-color: #ffffff;

$header-color: #c0202a;
