$background: #ffffff;
$regular-text: #222222;
$border: #393635;

$tab-background: #222222;
$button-background: #222222;
$button-hover: #8a5464;
$selected-background: #1D6935;
$tab-color: #ffffff;

$header-color: #c0202a;

$link-color: #a60000;
$link-hover: #413b3d;

$login-dlg-border: #ADAD9B;

$my-tab: #1D6935;
$search-tab: #BB1030;
$community-tab: #1D6935;
$classroom-tab: #4158AA;
$news-tab: #D52C2E;
