<%#
# ------------------------------------------------------------------------
#     Copyright 2009 Applied Research in Patacriticism and the University of Virginia
# 
#     Licensed under the Apache License, Version 2.0 (the "License");
#     you may not use this file except in compliance with the License.
#     You may obtain a copy of the License at
# 
#         http://www.apache.org/licenses/LICENSE-2.0
# 
#     Unless required by applicable law or agreed to in writing, software
#     distributed under the License is distributed on an "AS IS" BASIS,
#     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#     See the License for the specific language governing permissions and
#     limitations under the License.
# ----------------------------------------------------------------------------
%>
<%# search params: hash results -%>
<input type="text" id="search" class="shared_search_box"></input>
<%= link_to "Search Exhibits", "/communities/search", { :id => 'search_exhibits' } %>
<script type="text/javascript">
	var createSubmitButton = function() {
		var onButtonClick = function (e) {
			var term = $('search').value;
			ajaxWithProgressDlg([ $("search_exhibits-button").href ], [ 'shared_objects' ], { title: 'Searching', waitMessage: 'Please wait...' }, { term: term })
		};

		new YAHOO.widget.Button('search_exhibits', { onclick: { fn: onButtonClick } });
		YAHOO.util.Event.onAvailable('search_exhibits-button', function() {
			$('search_exhibits-button').writeAttribute('onclick', 'return false;');	// This keeps the '#' out of the address bar
		}, this);
	};
	document.observe('dom:loaded', function() {
		createSubmitButton();
		function searchKeyPress(e) {
			if (e.keyCode === 13) {
				var term = $('search').value;
				ajaxWithProgressDlg([ $("search_exhibits-button").href ], [ 'shared_objects' ], { title: 'Searching', waitMessage: 'Please wait...' }, { term: term })
			}
		}
		YAHOO.util.Event.addListener($('search'), "keyup", searchKeyPress);
	});
	try {
		createSubmitButton();
	} catch(e) {};
</script>
or search <%= link_to "federated sites", "/search", { :class => 'nav_link' } %>
<% if session[:community_search_term] -%>
<div class="shared_search_results">Found <%= results[:total_hits] %> items searching for "<%= session[:community_search_term] %>".
	<a method="post" href="/communities/search?term="><img src="/images/lvl2_trash.gif" alt="Clear Search" /></a>
</div>
<% end -%>
