<%= error_messages_for 'task_email' %>

<!--[form:task_email]-->
<p><label for="task_email_archive_name">Archive name</label><br/>
<%= text_field 'task_email', 'archive_name'  %></p>

<p><label for="task_email_email">Email</label><br/>
<%= text_field 'task_email', 'email'  %></p>
<!--[eoform:task_email]-->

