<%= error_messages_for 'contributor' %>

<!--[form:contributor]-->
<p><label for="contributor_archive_name">Archive name</label><br/>
<%= text_field 'contributor', 'archive_name'  %></p>

<p><label for="contributor_email">Email</label><br/>
<%= text_field 'contributor', 'email'  %></p>

<p><label for="contributor_contact">Contact</label><br/>
<%= text_field 'contributor', 'contact'  %></p>
<!--[eoform:contributor]-->

