<% for column in Contributor.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @contributor.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @contributor %> |
<%= link_to 'Back', :action => 'list' %>
