<% info = capture do %>
  <%= number_with_delimiter(session[:num_docs]) %>&nbsp;peer&#8209;reviewed&nbsp;<%= link_to_popup("digital objects", {:controller=>'/help', :action=>'resources'})%>&nbsp;from&nbsp;<%=number_with_delimiter(Site.count)%>&nbsp;federated&nbsp;<%= link_to_popup("sites", {:controller=>'/help', :action=>'sites'}) %>.
<% end %>

<div id="footer" style="text-align:center">
     NINES: aggregating 
     <%= info %>
	 (Powered by Collex v<%= collex_version() %>[<%=h request.host() %>].)
</div>
