<% info = capture do %>
  <%= session[:num_docs] %>&nbsp;peer&#8209;reviewed&nbsp;<%= link_to_popup("digital objects", {:controller=>'/help', :action=>'resources'})%>&nbsp;from&nbsp;<%=Site.count%>&nbsp;federated&nbsp;<%= link_to_popup("sites", {:controller=>'/help', :action=>'sites'}) %>.
<% end %>

<div id="footer" style="text-align:center">
     NINES: aggregating 
     <%= info %>
	 (Powered by Collex v<%= collex_version() %>.)
</div>
