</div>
</div>
<script type="text/javascript">
	var progress_transparent = "<%= image_path('progress_transparent.gif') %>";
</script>

<div class="clear_both"></div>
<%= render :partial => '/common/footer' %>
<% analytics_id = Setup.analytics_id() %>
<% if analytics_id -%>
<!-- for Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '<%= analytics_id %>']);
  _gaq.push(['_trackPageview']);

  (function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<% else %>
<!-- Google analytics is not included on this page because it is not turned on in the setup -->
<% end -%>
