<html>
  <head>
      <%= javascript_include_tag :defaults %>
  </head>
  <body>

    <% if flash[:sidebar_notice] -%> 
      <div id="notice"><%= flash[:sidebar_notice] %></div> 
    <% end -%> 

    <% if flash[:sidebar_error] -%> 
      <div id="error"><%= flash[:sidebar_error] %></div> 
    <% end -%>
  
    <%= yield %>
  </body>
</html>